@charset "UTF-8";
/**
 *
 * Generic CSS for CakePHP
 *
 */


/** Tables **/
table.cake-sql-log {
    background: transparent;
    border-right:0;
    clear: both;
    color: #333;
    margin-bottom: 10px;
    width: 100%;
}
table.cake-sql-log tbody {
    height: 350px;
    overflow: scroll;
}
table.cake-sql-log th {
    border: 0;
    border-bottom: 2px solid #555;
    text-align: left;
    padding: 4px;
}
table.cake-sql-log th a {
    display: block;
    padding: 2px 4px;
    text-decoration: none;
}
table.cake-sql-log th a.asc:after {
    content: ' ⇣';
}
table.cake-sql-log th a.desc:after {
    content: ' ⇡';
}
table.cake-sql-log table tr td {
    background: transparent;
    padding: 6px;
    text-align: left;
    vertical-align: top;
}
table.cake-sql-log tr:nth-child(2n) td {
    background: rgba(160, 224, 255, .2);
}
table.cake-sql-log .altrow td {
    background: rgba(160, 224, 255, .2);
}
table.cake-sql-logtd.actions {
    text-align: center;
    white-space: nowrap;
}
table.cake-sql-log td.actions a {
    margin: 0px 6px;
    padding: 2px 5px;
}
.cake-sql-log * {
    font-size: .9em;
}
.cake-sql-log table {
    background: transparent;
}
.cake-sql-log td {
    padding: 4px 8px;
    text-align: left;
    font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
    color: #666;
}

/** Paging **/
div.paging {
    background: transparent;
    color: #ccc;
    margin-top: 1em;
    clear: both;
}
div.paging span.disabled {
    color: #ddd;
    display: inline;
}
div.paging span.current {
    color: #c73e14;
}
div.paging span a {
}

/** Scaffold View **/
/*
dl {
    line-height: 2em;
    margin: 0em 0em;
    width: 60%;
}
dl .altrow {
    background: #f4f4f4;
}
dt {
    font-weight: bold;
    padding-left: 4px;
    vertical-align: top;
}
dd {
    margin-left: 10em;
    margin-top: -2em;
    vertical-align: top;
}
*/

/** Notices and Errors **/
p.error {
    background-color: rgba(224, 64, 0, .6);
    color: #fff;
    font-family: Courier, monospace;
    padding: 0.8em;
    margin: 1em 0;
}
p.error em {
    color: #000;
    font-weight: normal;
    line-height: 100%;
}
.notice {
    background-color: rgba(255, 224, 0, .6);
    color: #000;
    display: block;
    font-family: Courier, monospace;
    padding: 0.8em;
    margin: 1em 0;
}
.success {
    background-color: rgba(0, 192, 64, .6);
    color: #fff;
}

/** Related **/
div.related {
    clear: both;
    display: block;
}

/** Debugging **/
pre {
    color: #000;
    background: rgba(255, 224, 255, .2);
    margin: 0 8px 8px 0;
    padding: 4px 12px;
    border: 1px solid #efefee;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}
pre.cake-debug {
    background: rgba(255, 224, 0, .2);
    margin-top: 1em;
    overflow: auto;
    position: relative;
}
div.cake-stack-trace {
    background-color: transparent;
    color: #333;
    margin: 0px;
    padding: 6px;
    overflow: auto;
    position: relative;
}
div.cake-code-dump pre {
    position: relative;
    overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
    color: #000;
    background-color: #f0f0f0;
    margin: 0px;
    padding: 1em;
    overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
    clear: both;
    font-size: 12px;
    line-height: 15px;
    margin: 4px 2px;
    padding: 4px;
    overflow: auto;
}
div.cake-code-dump span.code-highlight {
    background-color: #ff0;
    padding: 4px;
}
div.code-coverage-results div.code-line {
    padding-left:5px;
    display:block;
    margin-left:10px;
}
div.code-coverage-results div.uncovered span.content {
    background:#ecc;
}
div.code-coverage-results div.covered span.content {
    background:#cec;
}
div.code-coverage-results div.ignored span.content {
    color:#aaa;
}
div.code-coverage-results span.line-num {
    color:#666;
    display:block;
    float:left;
    width:20px;
    text-align:right;
    margin-right:5px;
}
div.code-coverage-results span.line-num strong {
    color:#666;
}
div.code-coverage-results div.start {
    border:1px solid #aaa;
    border-width:1px 1px 0px 1px;
    margin-top:30px;
    padding-top:5px;
}
div.code-coverage-results div.end {
    border:1px solid #aaa;
    border-width:0px 1px 1px 1px;
    margin-bottom:30px;
    padding-bottom:5px;
}
div.code-coverage-results div.realstart {
    margin-top:0px;
}
div.code-coverage-results p.note {
    color:#bbb;
    padding:5px;
    margin:5px 0 10px;
    font-size:10px;
}
div.code-coverage-results span.result-bad {
    color: #a00;
}
div.code-coverage-results span.result-ok {
    color: #fa0;
}
div.code-coverage-results span.result-good {
    color: #0a0;
}
