@charset "UTF-8";
/***************************************************************************

	Conteneurs globaux

*/

html {
    background: #f6f6fa url(/css/img/bkgnd-html.png) repeat-x fixed center top;
}

html.fancy,
body {
    background-color: transparent;
    background-image: none;
}

body {
    width: 960px;
    margin: 0 auto;
    font: normal .8em/1.2em Optima, "Trebuchet MS", Tahoma, Verdana, Helvetica, sans-serif;
    color: #777;
}

body.fancy,
div.fancy {
    width: 450px;
    padding-top: 12px;
    background: transparent url(/css/img/globe.png) no-repeat fixed center center;
}


/***************************************************************************

	Balises globales

*/

h1,
h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}

a {
    outline: 0 none !important;
    text-decoration: none;
}

a:link,
a:visited {
    color: #39f;
}

a:hover,
a:focus {
    color: #f93;
}

a:active {
    color: #4af;
}

i, em {
    font-style: italic;
}

b, strong, dt {
    color: #808080;
}

b, strong {
    font-weight: bold;
}

abbr {
    cursor: help;
}

ul {
    list-style-type: none;
}

dt {
    text-align: right;
    font-weight: bold;
    float: left;
    clear: left;
}

p, li, dd {
    line-height: 1.2em;
}

li, dd {
    padding: 0 0 .3em;
}

dd {
    text-align: left;
}


/***************************************************************************

	Classes génériques

*/

.smaller {
    font-size: 90%;
    font-weight: normal;
}

.xsmaller {
    font-size: 80%;
    line-height: 1em;
    font-weight: normal;
}

.bolder {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.infotext {
    color: #39f;
}

.alerttext {
    color: #f93;
}

.hidden {
    display: none;
}


/***************************************************************************

	Conteneurs

*/

#wrapper {
    background: transparent url(/css/img/bkgnd-body.png) repeat-x center 65px;
    -webkit-border-bottom-left-radius: 1em;
    -webkit-border-bottom-right-radius: 1em;
    /*-moz-border-radius: 0 0 1em 1em;
    border-radius: 0 0 1em 1em;*/
    -moz-border-radius-bottomleft: 1em;
    -moz-border-radius-bottomright: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

#content {
    position: relative;
    padding: 50px 8px 12px 16px;
    background: #f6f6fa url(/css/img/globe.png) no-repeat fixed center center;
    border: 1px solid #dcdcdd;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

#content h1,
h2,
h3 {
    text-align: center;
    font-size: 1.2em;
}

#content h1,
h2 {
    padding: 4px 0;
    text-align: center;
    font-size: 1.2em;
}

#content h1 {
    color: #fefeff;
}

h2 {
    margin-bottom: 8px;
    padding-right: 6px;
    color: #39f;
    text-shadow: 1px 1px 3px #dcc;
    clear: both;
}


#content header,
article {
    width: 680px;
    float: left;
    background-color: transparent;
}

article.full {
    width: 100%;
}

article.half {
    width: 340px;
}

section {
    padding-right: 4px;
    word-wrap: break-word;
}

section.half {
    width: 336px;
}

section.half.left {
    float: left;
}

section.half.right {
    float: right;
}

section > div:first-child {
    margin-top: 7px;
}

section dt {
    width: 130px;
}

section dd {
    margin-left: 137px;
}

aside {
    overflow: hidden;
}

aside #login {
    display: none;
}

aside dt {
    width: 80px;
}

aside dd {
    margin-left: 87px;
}

section,
aside div {
    background-color: transparent;
    text-align: left;
    text-justify: newspaper;
}

section ul,
section p,
aside div p {
    /*text-indent: .6em;*/
    text-indent: 0;
}

section .instruction p {
    margin-bottom: .2em;
}

section .instruction ul {
    margin-bottom: .4em;
    padding-left: 0;
    list-style-position: inside;
    list-style-type: circle;
}

section .instruction ul li {
    padding-bottom: .1em;
}

aside div ul {
    margin-left: 2.5em;
    list-style-type: circle;
}

section > div > p,
aside > div > div > p {
    margin-bottom: .5em;
}

section > div > p:last-of-type,
aside > div > div > p:last-of-type {
    margin-bottom: .2em;
}

section dd:last-of-type,
section li:last-of-type {
    padding-bottom: .2em;
}

section #language-list  dd span.see {
    margin-bottom: -4px;
}

section dd span.language-list {
    padding-left: 6px;
    font-weight: bold;
    color: #39f;
}

section > div,
section > ul,
section > dl,
section > form,
aside > div > div,
aside > div > nav,
aside > div > dl,
aside > div > form {
    margin: -4px 8px 6px 0;
}

section > div,
section > ul,
section > dl,
section > form,
aside > div > div,
aside > div > dl,
aside > div > form {
    padding: 4px 8px 2px;
}

#content h1,
#appMessage,
#ajaxMessage,
#reqNotMet {
    margin: 0 12px 3px 0;
    padding: 4px 8px;
}

#content h1.spaced,
#content article.full h1 {
    margin-bottom: 12px;
}

#content h1.spaced {
    margin-right: 8px;
}

#content article.full h1 {
    margin-right: 4px;
}

#reqNotMet {
    display: none;
}

.tail {
    height: 16px;
    margin: -.2em -3px 1px;
    padding-right: 1px;
    clear: both;
}

.tail a,
.tail span,
.tail div.loading {
    float: right;
}

.clear {
    clear: both;
}


/***************************************************************************

	Tableaux

*/

div table {
    width: 100%;
    background-color: transparent;
}

#content div.table {
    padding: 0;
}

article.full section div.table {
    margin-right: 4px;
}

section table thead tr th,
section table tfoot tr td,
section table tbody tr td {
    text-align: center;
    min-width: 3em;
}

section table thead tr th,
section table tfoot tr th {
    color: #999;
    font-size: 115%;
    font-style: italic;
    white-space: no-wrap;
    text-shadow: 1px 1px 3px #dededd;
}

section table thead tr th {
    padding: 6px 5px 9px;
}

section table tfoot tr th {
    padding: 9px 5px 6px;
}

#content div.table table tbody tr td {
    font-size: 95%;
}

section table tbody tr td:first-child {
    padding-left: .5em;
}

section table tbody tr,
section table tbody tr.even {
    background-color: transparent;
}

section table tbody tr.odd {
    background-color: rgba(153, 221, 255, .2);
}

section table tbody tr td,
section table tfoot tr td {
    padding: 3px 6px;
    line-height: 110%;
}

section table tbody tr td {
    line-height: 1.1em;
}

section table tbody tr td.smaller {
    line-height: 1em;
}

section table tbody tr td span {
    line-height: 1em;
}

section table tfoot tr td {
    font-weight: bold;
    font-size: 105%;
    color: #888;
    background-color: rgba(255, 153, 51, .2);
}

section table tbody tr td img {
    float: left;
    margin: 0 6px 0 3px;
}

section table tbody tr td:first-child img {
    margin-left: 12px;
}

section table tbody tr td form > div.ibutton-container {
    margin: 0 auto;
}

/* Alertes */

section table tbody tr td.alert {
    text-align: center;
    height: 2.4em;
}

section table tbody tr td.alert p.alert {
    margin-left: 1px;
}

/* Contrôles */

table thead tr th.controls,
table tbody tr td.controls div.controls {
    height: 16px;
    width: 36px;
}

table tbody tr td.controls div.controls {
    display: block;
    margin: auto;
}

table tbody tr td.controls div.controls span {
    display: inline-block;
}

table tbody tr td.controls div.loading,
table tbody tr td.controls div.controls a {
    margin: auto;
}

table thead tr th div.controls a.supp,
table tbody tr td div.controls span.supp {
    float: right;
}

table thead tr a#search-init,
table thead tr span#search-init {
    float: right;
    display: none;
    margin-left: 2px;
}

/* Centrage vertical */

table tbody tr td {
    vertical-align: middle;
}

/* Portfolio -> Vue d'ensemble du Passeport */

#assessment table th:first-child {
    width: 7em;
}

#assessment table th:nth-child(2) {
    width: 5.5em;
    padding-left: 0;
    padding-right: 0;
}

#assessment table th:nth-child(4) {
    width: 8em;
}

#assessment table td:first-child,
#assessment table td:nth-child(2) {
    font-weight: bold;
}

#assessment table td:first-child {
    color: #888;
}

#assessment table td:nth-child(2) {
    color: #39f;
}

#assessment table td:nth-child(3) {
    font-size: .9em;
    text-align: justify;
}

#assessment table td:nth-child(4) {
    font-size: .9em;
    line-height: 1em;
    color: #f93;
}

/* Portfolio -> Biographie */

#abroad table tr th.date {
    max-width: 8em;
}

#valuable table tr th:first-child,
#contact table tr th:first-child,
#cultural table tr th:first-child,
#employment table tr th:first-child,
#abroad table tr th.duration {
    min-width: 6em;
}

#valuable table tr td:first-child,
#abroad table tr td:first-child {
    text-align: justify;
}

#contact table tr td,
#cultural table tr td,
#employment table tr td,
#objective table tr td {
    vertical-align: text-top;
    text-align: justify;
}

#contact table tr td:first-child,
#cultural table tr td:first-child,
#employment table tr td:first-child {
    text-align: left;
}

#contact table tr td:last-child,
#cultural table tr td:last-child,
#employment table tr td:last-child,
#objective table tr td:last-child {
    vertical-align: middle;
}

#valuable table tr td,
#valuable table tr td.alert {
    text-align: justify;
}

#abroad table tr td:first-child {
    padding-right: 1.5em;
}

/* Portfolio -> Dossier */

table.dossier tbody tr td.alert {
    text-align: justify !important;
}

table.document thead tr th:nth-child(2) {
    width: 5em;
}

table.document thead tr th.controls,
table.document tbody tr td.controls div.controls {
    width: 80px;
}

table.document tr td {
    text-align: justify;
}

table.document tbody tr td div.controls span {
    float: left;
}

table.document tbody tr td:first-child {
    width: 14em;
    color: #888;
    font-weight: bold;
    text-align: center;
}

#certificate table.dossier tr td:first-child {
    max-width: 12em;
}

#certificate table.dossier tr th:nth-child(4) {
    min-width: 5em;
}

/* Portfolio -> Auto-évaluation */

section table tbody tr.user-assess.even {
    background-color: rgba(255, 224, 255, .20);
}

section table tbody tr.user-assess.odd {
    background-color: rgba(174, 160, 255, .10);
}

/* Enseignants -> groupes */

#groups table tr th:first-child {
    width: 20%;
}

#groups table tr th:nth-child(2) {
    width: 40%;
}

#groups table tr th:nth-child(3) {
    width: 29%;
}

#groups table thead tr th.controls,
#groups table tbody tr td.controls div.controls {
    width: 56px;
}

#groups table tr td:first-child {
    color: #888;
    font-weight: bold;
}

#groups table tr td:first-child span:first-child {
    color: #39f;
}

#groups table tr td:first-child span:first-child:hover {
    color: #f93;
}

#groups table tr td:nth-child(2) {
    text-align: left;
}

#group-info h2:hover {
    color: #f93;
}

/* Page de recherche */

#search-page table tr td:first-child {
    padding-left: 0;
}

#search-page table tr td.alert {
    text-align: center;
}

#search-page table tr td:nth-child(4) {
    min-width: 8em;
}

#search-page table tr td:first-child a {
    font-weight: bold;
}

#search-page table td.controls {
    width: 36px;
}

#search-page table td.controls div.controls {
    height: 16px;
}

/* Visites */

#visit-page table thead tr th.student-name {
    min-width: 5.5em;
}

#visit-page table tbody tr td.visitor-name {
    padding-left: 0;
    text-align: left;
}

/* Consultation du Portfolio */

table.typedesc tbody tr td {
    text-align: justify;
}

table.descdatelength tbody tr td:first-child {
    text-align: justify;
}

#experience table {
    margin-bottom: 6px;
}

#experience table th {
    color: #39f;
}

#experience table td {
    padding: .1em .3em;
    vertical-align: top;
    text-align: left;
    font-style: italic;
}

#experience table td:first-child {
    width: 26em;
    text-align: right;
    font-weight: bold;
    font-style: normal;
}

#biography-empty p {
    text-align: center;
}

#show-view table.document.view thead tr th.controls,
#show-view table.document.view tbody tr td.controls div.controls {
    width: 16px;
}

/* Admin */

#activity table thead tr th.event {
    min-width: 7em;
}

#activity table thead tr th.university {
    width: 9em;
}

#activity table thead tr th.university {
    width: 9em;
}

table thead tr th.student-group,
table thead tr th.student-name,
table thead tr th.teacher-name,
table thead tr th.visitor-name {
    min-width: 5em;
}

table thead tr th.user-active {
    min-width: 85px;
}

#elements-list table tr.smaller th {
    padding-top: 3px;
}


/***************************************************************************

	En-tête

*/

#wrapper > header {
    position: relative;
    width: 960px;
    height: 50px;
    color: #fee;
}

#wrapper > header h1 {
    color: #fee;
    padding: 13px 0 0 12px;
    font-size: 26px;
    line-height: 26px;
    text-shadow: 1px 1px 2px #656566;
}

#wrapper > header h1 span {
    color: #399eff;
    font-size: 120%;
    text-shadow: 1px 1px 1px #767677;
}

/* Infos utilisateur */

#user-info {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 0 2px;
    font-size: 10px;
    line-height: 13px;
    color: #fefeff;
}

#user-info span {
    font-size: 12px;
    font-weight: bold;
}


/***************************************************************************

	Pied

*/

body footer {
    position: relative;
    height: 2.1em;
    width: 960px;
    margin: 0 auto;
    padding-top: .7em;
    text-align: center;
    color: #999;
    font-size: .8em;
    line-height: 1.2em;
    letter-spacing: .05em;
    background-color: transparent;
    background-image: none;
}

body footer a:link,
body footer a:visited {
    color: #aaa;
}

body footer a:hover,
body footer a:focus {
    color: #39f;
}

body footer a:active {
    color: #aaa;
}

body footer p {
    padding-bottom: 1.6em;
}


/***************************************************************************

	Navigation / barre de menu

*/

#content > nav {
    position: absolute;
    left: 0;
    top: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#content > nav ul {
    width: 946px;
    list-style: none;
    margin: 0;
    padding: 7px 6px 0;
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -110px;
    line-height: 100%;
    -webkit-border-top-left-radius: 1em;
    -webkit-border-top-right-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -moz-border-radius-topright: 1em;
    /*-moz-border-radius: 1em 1em 0 0;
    border-radius: 1em 1em 0 0;*/
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    z-index: 100;
}

#content > nav ul li {
    margin: 0 4px;
    padding: 0 0 7px;
    float: left;
    position: relative;
}

#content > nav ul li.tools {
    float: right;
}

/* Liens de premier niveau */

#content > nav ul a,
#content > nav ul a:link,
#content > nav ul a:visited,
#content > nav ul span {
    color: #fee;
}

#content > nav ul span {
    cursor: pointer;
}

#content > nav ul li a,
#content > nav ul li span {
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 7px 12px 8px;
    margin: 0;
    -webkit-border-radius: .8em;
    -moz-border-radius: .8em;
    border-radius: .8em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

#content > nav ul li > span,
#content > nav ul li.current a,
#content > nav ul li > a {
    box-shadow: -1px -1px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: -1px -1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: -1px -1px 1px rgba(0, 0, 0, .2);
}

#content > nav ul li:hover > a,
#content > nav ul li:hover > span {
    color: #fff;
    background: url(/css/img/gradient.png) repeat-x 0 -110px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

#content > nav ul li.current > a,
#content > nav ul li.current > span {
    color: #777;
    background: #dcdcff url(/css/img/gradient.png) repeat-x 0 -40px;
    text-shadow: 0 1px 0 rgba(128, 128, 128, .2);
}

#content > nav ul li.current:hover > a {
    background-color: #ededff;
}

#content > nav ul li.tools.log:hover > a {
    background-color: #f93;
}

/* Sous menus */

#content > nav ul li:hover > ul {
    /*display: block;*/
}

/* Survol des liens de niveau inférieur */

#content > nav ul li ul li:hover a,
#content > nav ul li:hover ul li a {
    background: none;
    border: none;
    color: #666;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#content > nav ul li ul li.current a {
    color: #39f !important;
}

#content > nav ul li ul a:hover {
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -110px !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

#content > nav ul li ul li.current > a {
    color: #39f !important;
}

#content > nav ul li ul li a:hover {
    color: #fff !important;
}

/* Langages */

#content > nav ul li > ul li a.language {
    font-variant: small-caps;
    color: #666;
}

/* Second niveau */

#content > nav ul ul {
    display: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 32px;
    left: 0;
    line-height: 130%;
    background: #fff url(/css/img/gradient.png) repeat-x 0 -40px;
    border: solid 1px #b4b4b4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

#content > nav ul ul li {
    float: none;
    margin: 0;
    padding: 0;
}

#content > nav ul ul a {
    padding: 3px 9px 4px;
    font-weight: normal;
    text-shadow: 0 1px 0 #fff;
}

#content > nav ul ul li:last-child a {
    padding-bottom: 5px;
}

/* Troisième niveau éventuel */

#content > nav ul ul ul {
    left: 181px;
    top: -3px;
}

/* Coins arrondis des niveaux inférieurs */

#content > nav ul ul li:first-child > a {
    -webkit-border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright: 9px;
    /*-moz-border-radius: 9px 9px 0 0;
    border-radius: 9px 9px 0 0;*/
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

#content > nav ul ul li:last-child > a {
    -webkit-border-bottom-left-radius: 9px;
    -webkit-border-bottom-right-radius: 9px;
    -moz-border-radius-bottomleft: 9px;
    -moz-border-radius-bottomright: 9px;
    /*border-radius: 0 0 9px 9px;
    -moz-border-radius: 0 0 9px 9px;*/
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

#content > nav ul ul li:first-child:last-child > a {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

/* clearfix (http://www.webtoolkit.info/css-clearfix.html) */

#content > nav ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#content > nav ul {
    display: inline-block;
}

html[xmlns] #content > nav ul {
    display: block;
}

* html #content > nav ul {
    height: 1%;
}


/***************************************************************************

	Navigation / menu latéral

*/

aside > div > nav {
    position: relative;
    text-align: center;
    margin-top: -4px;
    margin-bottom: 8px;
}

aside > div > nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside > div > nav > ul li {
    padding: 3px 3px 4px 4px;
}

aside > div > nav > ul li:first-child {
    padding-top: 4px;
}

aside > div > nav > ul li a:link,
aside > div > nav > ul li a:visited {
    color: #777;
}

aside > div > nav > ul li:hover {
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -110px;
}

aside > div > nav > ul li:hover a {
    color: #fefeff;
}

aside > div > nav > ul li.current {
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -5px;
}

aside > div > nav > ul li.current:hover {
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -110px;
}

aside > div > nav > ul li.current a {
    color: #39f;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

aside > div > nav > ul li.current:hover a {
    color: #fefeff;
}

aside > div > nav > ul li:first-child {
    -webkit-border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright: 9px;
    /*-moz-border-radius: 9px 9px 0 0;
    border-radius: 9px 9px 0 0;*/
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

aside > div > nav > ul li:last-child {
    -webkit-border-bottom-left-radius: 9px;
    -webkit-border-bottom-right-radius: 9px;
    -moz-border-radius-bottomleft: 9px;
    -moz-border-radius-bottomright: 9px;
    /*border-radius: 0 0 9px 9px;
    -moz-border-radius: 0 0 9px 9px;*/
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

/* Sous menu latéral */
aside > div > nav.submenu {
    padding: 4px 0 3px;
}

aside > div > nav.submenu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

aside > div > nav.submenu > ul li:first-child,
aside > div > nav.submenu > ul li:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

aside > div > nav.submenu > ul li {
    display: inline;
    margin: 0 .5em;
    padding: 3px 3px 4px 4px;
}


/***************************************************************************

	Blocs en relief / couleurs

*/

section > div,
section > ul,
section > dl,
section > form,
aside > div > div,
aside > div > dl,
aside > div > form,
aside > div > nav,
#content h1,
#appMessage,
#ajaxMessage,
#reqNotMet {
    border: 1px solid #efefee;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}

#content h1 {
    background-color: rgba(51, 153, 255, .7);
}

div.info,
div.alert {
    color: #fefeff;
}

div.info {
    font-weight: normal;
    background-color: rgba(51, 153, 255, .6);
}

.white,
section > div,
section > ul,
section > dl,
aside > div > dl,
aside > div > div {
    background-color: rgba(254, 254, 255, .5);
}

.blue,
section > form,
aside > div > div.submenu,
aside > div > div.v-sub-menu,
aside > div > nav,
aside > div > form {
    background-color: rgba(153, 221, 255, .2);
}

.orange,
div.alert,
#appMessage,
#ajaxMessage,
#reqNotMet {
    background-color: rgba(255, 153, 51, .6);
}

/*
.green {
    background-color: rgba(160, 255, 163, .2);
}

.purple {
    background-color: rgba(174, 160, 255, .2);
}

.pink {
    background-color: rgba(255, 224, 255, .2);
}

.red {
    background-color: rgba(255, 166, 160, .2);
}

.yellow {
    background-color: rgba(253, 255, 160, .2);
}
*/


/***************************************************************************

	Messages (flash, validation etc…)

*/

#authMessage,
#flashMessage {
    margin-left: 0;
}

#appMessage,
#ajaxMessage,
#reqNotMet {
    margin: 1px 8px 6px 0;
    padding: 0 10px;
    font: bold 1.2em/1.6em Georgia, "Times New Roman", Times, serif;
    color: #fefeff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

#ajaxMessage {
    display: none;
}

.error {}

.form-error {}

.error-message {
    font-size: .9em;
    line-height: 1.1em;
    font-style: italic;
    color: #f93;
    margin-top: 2px;
}

#old_ies_are_buggy {
    font-size: 1.1em;
}


/***************************************************************************

	Pictos actifs

*/

a.edit,
a.add,
a.people,
a.photo,
a.search,
a.see,
a.supp,
a.gear,
span.edit,
span.add,
span.people,
span.photo,
span.search,
span.see,
span.upload,
span.download,
span.move,
span.supp,
span.gear,
.information dl dt {
    display: inline-block;
    height: 16px;
    width: 16px;
}

dt.edit,
a.edit,
span.edit {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -64px;
}

dt.add,
a.add,
span.add {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -48px;
}

dt.people,
a.people,
span.people {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -192px;
}

dt.photo,
a.photo,
span.photo {
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -209px;
}

dt.search {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -224px;
}

dt.see,
a.see,
span.see {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -240px;
}

dt.supp,
a.supp,
span.supp {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -32px;
}

dt.gear,
a.gear,
span.gear {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -320px;
}

dt.move,
span.move {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -336px;
}

dt.download,
span.download {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -352px;
}

dt.upload,
span.upload {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -16px;
}

/* Information, utilisation */

.hinformation dl dd,
aside .information > dl dd {
    margin-left: 24px;
}

/* Cas particuliers */

table th #search-new,
table th #search-init {
    height: 12px;
    width: 16px;
    display: inline-block;
}

table th #search-new {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -226px;
}

table th #search-init {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -34px;
}


/***************************************************************************

	Types de documents

*/

span.picto-application,
span.picto-text,
span.picto-audio,
span.picto-image,
span.picto-video,
span.picto-archive {
    display: block;
    margin: auto;
    height: 48px;
    width: 48px;
}

span.picto-application,
span.picto-text {
    background: transparent url(/css/img/document-types.png) no-repeat 0 0;
}

span.picto-audio {
    background: transparent url(/css/img/document-types.png) no-repeat 0 -48px;
}

span.picto-image {
    background: transparent url(/css/img/document-types.png) no-repeat 0 -96px;
}

span.picto-video {
    background: transparent url(/css/img/document-types.png) no-repeat 0 -144px;
}

span.picto-archive {
    background: transparent url(/css/img/document-types.png) no-repeat 0 -192px;
}


/***************************************************************************

	Pictos de présence de pièces dans le dossier

*/

span.bubble-0,
span.bubble-1,
span.bubble-2,
span.bubble-3 {
    display: block;
    float: left;
    height: 16px;
    width: 12px;
}

span.bubble-0 {
    background: transparent url(/css/img/sixteen.png) no-repeat -2px -256px;
}

span.bubble-1 {
    background: transparent url(/css/img/sixteen.png) no-repeat -2px -272px;
}

span.bubble-2 {
    background: transparent url(/css/img/sixteen.png) no-repeat -2px -288px;
}

span.bubble-3 {
    background: transparent url(/css/img/sixteen.png) no-repeat -2px -304px;
}

aside .information > dl.bubbles dt {
    height: 16px;
    margin-top: -2px;
}

aside .information > dl.bubbles dd {
    height: 12px;
}

.information dl dt.bubble-0 {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -256px;
}

.information dl dt.bubble-1 {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -272px;
}

.information dl dt.bubble-2 {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -289px;
}

.information dl dt.bubble-3 {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -305px;
}


/***************************************************************************

	Symboles

*/

span.symbol-mother,
span.symbol-usual,
span.symbol-phone {
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-bottom: -1px;
}

span.symbol-mother {
    background: transparent url(/css/img/symbols.png) no-repeat 0 0;
}

span.symbol-usual {
    background: transparent url(/css/img/symbols.png) no-repeat 0 -11px;
}

span.symbol-phone {
    background: transparent url(/css/img/symbols.png) no-repeat 0 -22px;
}


/***************************************************************************

	Loading…

*/

div.loading {
    display: none;
    margin: auto;
    height: 16px;
    width: 16px;
    background: transparent url(/css/img/loading-spin.gif) no-repeat center center;
}

h2 span.loading {
    display: inline-block;
    vertical-align: text-bottom;
    margin: 0 6px .2em;
    /*width: 16px;
    background: transparent url(/css/img/loading-spin.gif) no-repeat center center;*/
    height: 12px;
    width: 200px;
    background: transparent url(/css/img/loading-bar.gif) repeat-x center center;
}


/***************************************************************************

	Info bulles / Aide

*/

div#divToolTip {
    z-index: 99;
}

div#divToolTip img {
    margin: -5px -7px -9px -9px;
}

div.tooltip-data {
    display: none;
}

.help,
.sort-help {
    padding-right: 18px;
    margin-right: 7px;
    background: transparent url(/css/img/sixteen.png) no-repeat right -375px;
}

section div.table table thead tr th.help,
section div.table table thead tr th.sort-help {
    background: transparent url(/css/img/sixteen.png) no-repeat right -369px;
}

section div table thead tr th:last-child.help,
section div table thead tr th:last-child.sort-help {
    padding-right: 17px;
}

section div table thead tr th a.help,
section div table thead tr th span.help,
section div table thead tr th a.sort-help,
section div table thead tr th span.sort-help {
    margin-right: -.8em;
    background: transparent url(/css/img/sixteen.png) no-repeat right -374px;
}

article.half table thead tr th.help,
article.half table thead tr th.sort-help {
    padding-right: 5px;
}


/***************************************************************************

	Blocs d'information et d'alerte

*/

.info,
.alert {
    font-weight: bold;
}

.info {
    color: #999;
}

.alert {
    color: #f93;
}

dd.info,
span.info {
    color: #39f;
}

section > div.info,
aside > div > div.alert {
    border: 1px solid #ccc;
}

aside > div > div > p {
    margin: 2px -3px 2px -2px;
    padding: 0 5px 1px;
}

aside > div > div > p:last-child {
    margin-bottom: 4px;
}

section div p.info,
section div p.alert,
aside > div > div > p.info,
aside > div > div > p.alert {
    margin: 2px -3px 5px -2px;
    padding: 2px 5px 3px;
    clear: both;
    border: 1px solid #dededd;
    -webkit-border-radius: .6em;
    -moz-border-radius: .6em;
    border-radius: .6em;
}

section div p.info,
aside > div > div p.info {
    background-color: rgba(153, 221, 255, .1);
}

section div p.alert,
aside > div > div p.alert {
    background-color: #fefeff;
}

section div p.info {
    margin: 4px -1px 5px 0;
}

section div p.alert {
    margin: 2px 0 5px 1px;
}

aside div.table p.info,
section div.table p.info {
    margin: 4px 5px 5px 6px;
    padding: 3px 5px;
}

section div.table p.alert {
    margin: 4px 6px 5px 7px;
    padding: 2px 5px 3px;
}

p.info,
p.alert {
    font-size: 90%;
    line-height: 120%;
}

span.tip-info,
span.tip-alert {
    display: block;
    float: left;
    margin: -1px 1px -2px -3px;
    height: 15px;
    width: 13px;
}

section div.table span.tip-info,
section div.table span.tip-alert {
    margin-top: 0;
}

span.tip-info {
    background: transparent url(/css/img/sixteen.png) no-repeat -2px -160px;
}

span.tip-alert {
    background: transparent url(/css/img/sixteen.png) no-repeat -2px -176px;
}


/***************************************************************************

	Illustrations de labels

*/

.picto-listening,
.picto-reading,
.picto-speak_int,
.picto-speak_prod,
.picto-writing,
.pictoPortfolioListening,
.pictoPortfolioReading,
.pictoPortfolioSpeakInt,
.pictoPortfolioSpeakProd,
.pictoPortfolioWriting {
    display: block;
    height: 16px;
    width: 16px;
    margin-left: 3px;
}

.picto-listening,
.picto-reading,
.picto-speak_int,
.picto-speak_prod,
.picto-writing {
    margin: 2px auto;
}

.pictoPortfolioListening,
.pictoPortfolioReading,
.pictoPortfolioSpeakInt,
.pictoPortfolioSpeakProd,
.pictoPortfolioWriting {
    float: left;
}

.picto-listening,
.pictoPortfolioListening {
    background: transparent url(/css/img/sixteen.png) no-repeat right -80px;
}

.picto-reading,
.pictoPortfolioReading {
    background: transparent url(/css/img/sixteen.png) no-repeat right -96px;
}

.picto-speak_int,
.pictoPortfolioSpeakInt {
    background: transparent url(/css/img/sixteen.png) no-repeat right -112px;
}

.picto-speak_prod,
.pictoPortfolioSpeakProd {
    background: transparent url(/css/img/sixteen.png) no-repeat right -128px;
}

.picto-writing,
.pictoPortfolioWriting {
    background: transparent url(/css/img/sixteen.png) no-repeat right -144px;
}


/***************************************************************************

	Photo

*/

aside #photo {
    /*display: none;*/
}

aside #photo > div {
    min-height: 33px;
    position: relative;
    padding: 0;
    background: transparent none no-repeat center top;
}

aside #photo > div > div {
    position: absolute;
}

aside #photo > div > div {
    width: 232px;
    left: 0;
    bottom: 0;
    height: 18px;
    padding: 1px 6px;
    border-top: 1px solid #dcdcdd;
    background-color: transparent;
    -webkit-border-bottom-left-radius: 1em;
    -webkit-border-bottom-right-radius: 1em;
    /*-moz-border-radius: 0 0 1em 1em;
    border-radius: 0 0 1em 1em;*/
    -moz-border-radius-bottomleft: 1em;
    -moz-border-radius-bottomright: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

aside #photo > div > div.message {
    display: none;
    width: 228px;
    left: 0;
    top: 0;
    padding: 1px 8px;
    border: 1px solid #dcdcdd;
    border-top: 0 none;
    font-size: 85%;
    line-height: 1.6em;
    color: #fefeff;
    background-color: #f93;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

aside #photo > div > div > div.loading {
    position: absolute;
    left: 50%;
    margin-left: -8px;
}

aside #photo > div > div > span#photo-upload {
    float: left;
}

aside #photo > div > div > span#photo-delete {
    display: none;
    float: right;
}

aside #photo table {
    border-top: 1px solid #dcdcdd;
}

aside #photo table td {
    vertical-align: top;
}

aside #photo table td:first-child {
    width: 7em;
    text-align: right;
    font-weight: bold;
    padding: 0 4px 3px 0;
}

aside #photo table td:last-child {
    text-align: left;
    padding:  0 12px 3px 4px;
}

aside #photo table tr:first-child td {
    padding-top: 6px;
}

aside #photo div > p {
    margin: 4px 5px 6px 6px;
}


/***************************************************************************

	Pagination

*/

div.paginate {
    padding: 5px 3px 3px;
    text-align: center;
    font-size: 90%;
}

div.paginate span a.prev,
div.paginate span a.next {
    background-color: #39f;
    display: block;
    height: 16px;
    width: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

div.paginate span a.prev {
    float: left;
    background-image: url(/css/img/ui-icons.png);
    background-position: -144px -192px;
}

div.paginate span a.next {
    float: right;
    background-image: url(/css/img/ui-icons.png);
    background-position: -112px -192px;
}

div.paginate span.current {
    clear: none;
    color: #fefeff;
    background-color: #39f;
    padding: 0 5px;
    font-weight: bold;
}

div.paginate span a.prev:hover,
div.paginate span a.next:hover {
    background-color: #f93;
}


/***************************************************************************

	Retour en haut de page

*/

span.backtotop {
    background-color: #39f;
    background-image: url(/css/img/ui-icons.png);
    background-position: -160px -192px;
    display: block;
    height: 16px;
    width: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

span.backtotop:hover {
    background-color: #f93;
}

span.backtotop.left {
    float: left;
    margin-left: 6px;
}

span.backtotop.right {
    float: right;
    margin-right: 6px;
}


/***************************************************************************

	Grille des niveaux (colonne de droite)

*/

#levels-grid-table {
    height: 160px;
}

#levels-grid-table tr td {
    padding: 6px;
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
}

#levels-grid-table tr:nth-child(2n) td {
    background-color: rgba(153, 221, 255, .2);
}

#levels-grid-table tr td.item {
    color: #888;
    font-weight: bold;
}

#levels-grid-table tr td.item:hover {
    color: #fefeff;
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -110px;
}

#levels-grid-table tr td.title {
    width: 42px;
    padding: 0;
    background-repeat: no-repeat;
    background-image: url(/css/img/level-grid.png);
}

#levels-grid-table tr#listen td.title {
    background-position: center top;
}

#levels-grid-table tr#read td.title {
    background-position: center -32px;
}

#levels-grid-table tr#converse td.title {
    background-position: center -64px;
}

#levels-grid-table tr#speak td.title {
    background-position: center -96px;
}

#levels-grid-table tr#write td.title {
    background-position: center -128px;
}


/***************************************************************************

	Logos

*/

div#logos,
div.logo {
    width: 120px;
}

div#logos {
    margin: 20px auto 30px;
    text-align: center;
}

div.logo {
    height: 88px;
    margin-top: 6px;
}

div#eplogo {
    height: 68px;
}

div#logos div#coelogo {
    background: transparent url(../img/coepclogo.png) no-repeat 0 0;
}

div#logos div#eplogo {
    background: transparent url(../img/coepclogo.png) no-repeat 0 -98px;
}

div#logos div#cercleslogo {
    background: transparent url(../img/coepclogo.png) no-repeat 0 -176px;
}


/***************************************************************************

	Bloc du COE

*/

#coe-text > div {
    padding: .5em;
}

#coe-text > div > span {
    right: 0;
    margin: 0 0 -.4em .6em;
}

#coe-text > div > img {
    display: none;
    background: url(/img/coe_img_02.jpg);
}

#coe-text > div > p {
    padding: 0 .2em;
}


/***************************************************************************

	jQuery Dialog

*/

div.dialog-content {
    display: none;
    background-image: none;
}


/***************************************************************************

	Fancybox ++

*/

/* Coins arrondis */

#fancybox-outer {
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    border-radius: .4em;
}

body.fancy > h1 {
    color: #39f;
    margin: 11px 0 7px;
}

body.fancy > h1:first-child {
    margin-top: 1px;
}

body.fancy > p {
    text-indent: .6em;
    margin: 5px 0 3px;
}

/* Wrapper si pas formulaire */
body.fancy > div {
    width: 90%;
    margin-left: 5%;
}

/* Hauteur adaptée au contenu (inline) */
div.fancy {
    height: 98%;
}

div.fancy #message {
    margin-top: 12px;
}


/***************************************************************************

	Grille des niveaux (Fancybox)

*/

#levels_grid {
    width: 770px;
    text-align: center;
}

#levels_grid p {
    margin-top: 2px;
    font-size: .8em;
}

#levels_grid p.copyright {
    font-size: .8em;
    margin-bottom: 6px;
}

#levels_grid > table {
    padding-top: 0;
}

#levels_grid > table th {
    font-size: 1.2em;
    font-weight: bold;
    color: #888;
}

#levels_grid > table thead th {
    padding-bottom: 5px;
}

#levels_grid > table tfoot th {
    padding-top: 5px;
}

#levels_grid > table td {
    padding: 0 5px 3px;
    font-size: .8em;
    line-height: 1em;
    vertical-align: text-top;
    text-align: left;
}

#levels_grid > table td.blue {
    background-color: rgba(153, 221, 255, .2);
}

#levels_grid > table td:first-child {
    padding-left: 0;
    font-size: 1em;
    font-weight: bold;
    color: #888;
    text-align: center;
}

#levels_grid > table td:last-child {
    padding-right: 0;
}

#levels_grid > table tr td span {
    display: block;
    height: 32px;
    width: 32px;
    margin: 8px auto 0;
    background-repeat: no-repeat;
    background-image: url(/css/img/level-grid.png);
}

#levels_grid > table tr td span#listen {
    background-position: center top;
}

#levels_grid > table tr td span#read {
    background-position: center -32px;
}

#levels_grid > table tr td span#converse {
    background-position: center -64px;
}

#levels_grid > table tr td span#speak {
    background-position: center -96px;
}

#levels_grid > table tr td span#write {
    background-position: center -128px;
}


/***************************************************************************

	Formulaires

*/

form {
    font: inherit;
}

fieldset {
    margin: 4px 0 10px 1px;
}

form fieldset:first-of-type {
    margin-top: 0;
}

form fieldset:last-of-type {
    margin-bottom: 0;
}

section > form:first-child {
    margin-top: 7px;
}

form fieldset legend {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 1em;
    color: #39f;
    text-indent: 2px;
    text-shadow: 1px 1px 2px #dcc;
}

form > fieldset label {
    color: #888;
    font-size: 96%;
    font-weight: bold;
    text-indent: 2px;
    padding-bottom: 1px;
    padding-right: 8px;
}

form > fieldset textarea:first-child {
    margin-top: 4px;
}

input[type=text],
input[type=password],
textarea,
label {
    display: block;
    font: inherit;
}

input[type=text],
input[type=password],
textarea,
select {
    color: #666;
}

input[type=text],
input[type=password],
input[type=submit],
textarea {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

input[type=radio] {
    display: inline;
    margin: 4px 4px 4px 2px;
}

input[type=text],
input[type=password],
textarea {
    width: 98%;
    padding-left: .3em;
    border: 1px solid #ccc;
    background: #eee url(/css/img/gradient.png) repeat-x 0 -40px;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
    background: #bbdbff url(/css/img/gradient.png) repeat-x 0 -40px;
}

textarea {
    resize: none;
}

input[type=submit] {
    padding: 3px 9px;
    width: auto;
    font: bold 12px/15px Georgia, "Times New Roman", Times, serif;
    color: #fefeff;
    border: 1px solid #ededff;
    background:  #39f url(/css/img/gradient.png) repeat-x 0 -110px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

input[type=submit]:hover,
input[type=submit]:focus {
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -110px;
}

input[type=submit]:active {
    background: #f93 url(/css/img/gradient.png) repeat-x 0 -110px;
}

input[type=submit]:disabled {
    background: #39f url(/css/img/gradient.png) repeat-x 0 -40px;
}

input[readonly]:focus,
textarea[readonly]:focus {
    background: #f93 url(/css/img/gradient.png) repeat-x 0 -40px;
}


/***************************************************************************

	Formulaire de choix des langues (en-tête)

*/

#wrapper header form#lang {
    position: absolute;
    top: 23px;
    right: 10px;
    height: 15px;
    padding-left: 21px;
    background-color: transparent;
    background-image: none;
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 9px; /* Safari */
}

#wrapper header form select {
    position: relative;
    top: 0;
    min-width: 8em; /* Opera */
    font: normal 9px Verdana, Arial, Geneva, Helvetica, sans-serif;
}


/***************************************************************************

	Formulaires dans une fancybox

*/

.fancy form {
    width: 90%;
    margin-left: 5%;
}

.fancy form fieldset {
    padding: 0;
    margin-top: 5px;
}

.fancy form fieldset.half {
    width: 56%;
    float: left;
}

.fancy form h2 {
    margin-bottom: 3px;
}

.fancy form h3 {
    color: #999;
    margin-bottom: 0;
}

.fancy #edit-form #message {
    margin-top: 0;
}

.fancy form fieldset dt {
    width: 100px;
}

.fancy form fieldset dd {
    margin-left: 107px;
}

.fancy form fieldset p {
    margin-right: 1px !important;
}

.fancy form fieldset input[type=text],
.fancy form fieldset select,
.fancy form fieldset textarea {
    width: 398px;
}

.fancy form fieldset.half input[type=text],
.fancy form fieldset.half select,
.fancy form fieldset.half textarea {
    width: 220px;
}

.fancy form#edit-form fieldset textarea {
    line-height: 1.3em;
    height: 5.2em;
}

.fancy form fieldset label {
    display: inline;
}

.fancy #student-form fieldset label {
    display: block;
}

.fancy form fieldset label,
.fancy form fieldset input[type=checkbox] {
    vertical-align: middle;
}

.fancy form fieldset input[type=checkbox] {
    margin: 0 6px 2px 0;
}

.fancy form div#user-photo {
    float: right;
    border: 1px solid #dededd;
    margin-top: 26px;
    width: 160px;
    height: 136px;
    background-image: url(/img/user.png);
    background-position: center;
}

/* Formulaire de recherche */

.fancy form #competency {
    margin-top: -6px;
    display: none;
}

.fancy form #competency div.checkbox {
    display: inline;
    padding-left: 12px;
}

.fancy form #competency div.checkbox input[type=checkbox] {
    margin-right: 4px;
}

.fancy form #competency div.input.select {
    width: 46px;
    float: left;
}

.fancy form #competency .pictoPortfolioListening,
.fancy form #competency .pictoPortfolioReading,
.fancy form #competency .pictoPortfolioSpeakInt,
.fancy form #competency .pictoPortfolioSpeakProd,
.fancy form #competency .pictoPortfolioWriting {
    float: left;
    margin: 6px 4px 0 13px;
}

.fancy form #competency .pictoPortfolioListening{
    margin-left: 11px;
}


/***************************************************************************

	Formulaires : balisage spécifique

*/

div.required label:after {
    color: #0078ff;
    content: ' *';
    display: inline;
}

fieldset div.input {
    margin-top: .4em;
}

fieldset div.input:first-child {
    margin-top: 0;
}

form fieldset dl:first-child {
    margin-top: .2em;
}

section form fieldset dt {
    width: 160px;
}

section form fieldset dd {
    margin-left: 167px;
}

aside div form fieldset dt {
    width: 130px;
}

aside div form fieldset dd {
    margin-left: 137px;
}

form p,
form ul {
    color: #777;
}

form p {
    font-size: 95%;
}

form p,
form ul,
form .instruction {
    margin: 4px -1px 6px 0;
    padding: 1px 5px 2px 6px;
    border: 1px solid #dededd;
    -webkit-border-radius: .6em;
    -moz-border-radius: .6em;
    border-radius: .6em;
}

form p,
form ul,
form .instruction {
    background-color: #fefeff;
}

form .instruction p {
    margin: .2em 0;
    padding: 0;
    background-color: transparent;
    border: 0 none;
}

form ul {
    padding-left: .4em;
    list-style-position: inside;
    list-style-type: circle;
}

form table ul {
    list-style: none;
    border: 0 none;
    background-color: transparent;
}

form ul li {
    padding-bottom: .1em;
}

form p.info,
form p.alert {
    font-size: .9em;
    line-height: 1.2em;
    background-color: rgba(254, 254, 255, .8);
}

form.white p.info {
    background-color: rgba(153, 221, 255, .1);
}

form > fieldset > p {
    margin: 4px 0 0 -1px;
}

form > fieldset > p:first-child {
    margin-top: 0;
}

article form p.info:first-child,
article form p.alert:first-child {
    margin-top: .3em;
    margin-bottom: .4em;
}

form span.tip-info,
form span.tip-alert {
    margin-top: 0;
}

form div.submit {
    display: block;
    height: 30px;
    padding: 10px 0 1px;
}

form div.submit div.loading {
    float: right;
    margin: 5px 5px 0 0;
}

form div.submit span.backtotop {
    margin-top: 4px;
}

form div.submit span.backtotop.right {
    margin-left: 6px;
    margin-right: -3px;
}

form div.submit input[type=submit] {
    float: right;
}

form div.date > select {
    width: auto;
}

form div.select > select {
    width: 100%;
}

table form,
table form fieldset {
    margin: 0;
    padding: 0;
}

table form {
    background-color: transparent;
}

/* Suppression d'une langue / du portfolio */

#language-delete-form dl,
#portfolio-delete-form dl {
    margin-top: 8px;
}

/* Formulaires pleine largeur */

section form.full fieldset > div.input.text,
section form.full fieldset > div.input.select,
section form.full fieldset > div.input.textarea {
    width: 656px;
}

section form.full p {
    width: 637px;
}

/* Tableaux dans les formulaires */

#content form.table {
    padding: 0;
}

section form > table tbody tr,
section form > table tbody tr.even {
    background-color: transparent;
}

section form > table tbody tr.odd {
    background-color: rgba(153, 221, 255, .2);
}

form.table ul,
form.table ul li {
    padding: 0;
}

form.table div.submit {
    padding-right: 6px;
}

/* Passeport */

#mother-form div.ibutton-container {
    margin: 1px auto;
}

#skills-form label {
    clear: both;
}

#skills-form label.part-comp-label {
    color: #999;
    font-size: 80%;
    font-style: italic;
    padding-top: -9px;
    margin-top: -9px;
}

#skills-form textarea {
    clear: both;
    margin-left: -1px;
    margin-top: -2px;
    /*margin-top: 22px;*/
    font-size: .9em;
    line-height: 1.1em;
    color: #777;
    height: 3.4em;
    width: 99%;
}

#skills-form p.info:last-of-type {
    margin-top: 12px;
}

#skills-form div.slider {
    float: left;
    width: 217px;
    margin: .2em 4px 0;
}

/* Biographie */

#abroad-edit-form div.input.date,
#abroad-edit-form div.input.text,
#abroad-edit-form div.input.select {
    float: left;
}

#abroad-edit-form div.input.date,
#abroad-edit-form div.input.text {
    margin-right: 1.3em;
}

#abroad-edit-form div.input.text {
    width: 16em;
}

#abroad-edit-form div.input.select {
    width: 14em;
}

#abroad-edit-form div.input.textarea {
    clear: both;
    padding-top: 10px;
    width: 101%;
}

#strategy-form thead th {
    min-width: 5em;
}

#strategy-form tbody td:first-child {
    text-align: justify;
}

form.table table.howtolearn-table tbody td:first-child {
    text-align: left;
}

form.table table.howtolearn-table thead th:nth-child(2),
form.table table.howtolearn-table thead th:nth-child(3),
form.table table.howtolearn-table thead th:nth-child(4) {
    font-weight: normal;
    width: 3.5em;
    max-width: 5.5em;
}

form.table table.howtolearn-table tbody td:nth-child(5) {
    padding-left: 16px;
}

form.table table.howtolearn-table tbody td:last-child {
    width: 9em;
}

/* Dossier */

#show-edit-form div.input.text,
#show-edit-form div.input.select,
#certificate-edit-form div.input.date,
#certificate-edit-form div.input.select {
    float: left;
}

#show-edit-form div.input.text {
    width: 29em;
    margin-right: 1.6em;
}

#show-edit-form div.input.select {
    width: 20em;
}

#show-edit-form div.input.textarea {
    clear: both;
    padding-top: 10px;
}

#cert-info div.input.date {
    margin-right: 1.3em;
    padding-bottom: 10px;
}

#cert-info div.input.select {
    width: 406px;
}

#cert-info div.input.text {
    clear: both;
}

#cert-comp div.input.select {
    width: 96px;
}

#cert-comp .pictoPortfolioListening,
#cert-comp .pictoPortfolioReading,
#cert-comp .pictoPortfolioSpeakInt,
#cert-comp .pictoPortfolioSpeakProd,
#cert-comp .pictoPortfolioWriting {
    margin: 6px 4px 0 17px;
}

#cert-comp .pictoPortfolioListening{
    margin-left: 0;
}


/* Auto-évaluation */

#assessment-intro ul li label {
    display: inline;
    padding-left: 0;
}

#assessment-intro.instruction ul {
    list-style: none;
}

#assessment-form table thead tr th {
    vertical-align: middle;
}

#assessment-form table thead tr th,
#assessment-form table tbody tr td {
    padding-left: 6px;
    padding-right: 0;
}

#assessment-form table thead tr th:first-child {
    font-size: 260%;
    color: #b8e4ff;
    /*color: #a7deff;*/
    text-align: left;
    padding-top: 13px;
    padding-left: 26px;
}

#assessment-form table thead th:nth-child(2) {
    font-size: .9em;
    line-height: 1em;
    vertical-align: bottom;
    padding-bottom: 12px;
}

#assessment-form table thead tr th textarea {
    height: 2.1em;
    width: 110px;
    font-size: 80%;
    line-height: 1em;
    font-weight: normal;
    font-style: normal;
}

#assessment-form table tbody tr td:first-child {
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
}

#assessment-form table tbody tr td div.ibutton-container {
    margin: 20px auto 0;
}

#assessment-form table tbody tr td input[type=text] {
    width: 110px;
}

#item-edit-form textarea {
    height: 3.5em;
}


/* Datepicker */

img.ui-datepicker-trigger {
    vertical-align: middle;
    margin: -1px -3px 0 1px;
    height: 16px;
    width: 16px;
    display: inline-block;
    background: transparent url(/css/img/sixteen.png) no-repeat 0 0;
    cursor: pointer;
}

/* Groupes */

aside div#group-change {
    display: none;
}

/* Identification */

#UserLoginForm {
    background-color: rgba(51, 153, 255, .2);
}

#forgotten {
    padding-top: 5px;
    text-align: right;
    font-size: .9em;
}

#login div.submit {
    padding-top: 3px;
}

/* Création */

#create-form legend {
    padding-bottom: 4px;
}




/*******************************************************************************
    jQuery UI CSS Framework
    Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
    Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.

    jquery.ui.core

*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }

.ui-helper-hidden-accessible {
    position: absolute;
    left: -99999999px;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ui-helper-clearfix { display: inline-block; }

/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }

.ui-helper-clearfix { display:block; }

/* end clearfix */
.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter:Alpha(Opacity=0);
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/***************************************************************************
    jQuery UI CSS Framework

        jquery.ui.theme

*/

/* Component containers
----------------------------------*/

.ui-widget {
    font-family: Optima, "Trebuchet MS", Lucida, Arial, Geneva, Verdana, "Lucida Grande", Tahoma, Helvetica, sans-serif;
    font-size: .9em;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.ui-widget .ui-widget { font-size: .8em; }

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-size: .9em;
}

.ui-widget-content {
    border: 1px solid #dcdcdd;
    background-color: #fefeff;
    background-image: none;
    color: #666;
}

.ui-widget-content a {
    color: #666;
    outline: 0 none !important;
}

.ui-widget-header {
    border: 1px solid #dcdcdd;
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -110px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #fee;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius: 4px 4px 0 0;
}

.ui-widget-header a {
    color: #fefeff;
    outline: 0 none !important;
}

.ui-widget-header a:hover {
    border: 1px solid #39f;
    cursor: pointer;
}


/* Interaction states
----------------------------------*/

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #dcdcdd;
    background: #dcdcdd url(/css/img/gradient.png) repeat-x 0 -40px;
    font-weight: normal;
    color: #555555;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #39f;
    text-decoration: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #dcdcdd;
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -110px;
    font-weight: normal;
    color: #fefeff;
}

.ui-state-hover a,
.ui-state-hover a:hover {
    color: #f93;
    text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #f93;
    background: #fefeff url(/css/img/gradient.png) repeat-x 0 -40px;
    font-weight: normal;
    color: #212121;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #212121;
    text-decoration: none;
}

.ui-widget :active { outline: none; }


/* Interaction Cues
----------------------------------*/

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #fefeff;
    background: #fefeff url(/css/img/gradient.png) repeat-x 0 -40px;
    color: #363636;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a { color: #363636; }

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    border: 1px solid #f93;
    background: #f93 url(/css/img/gradient.png) repeat-x 0 -110px;
    color: #cd0a0a;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a { color: #cd0a0a; }

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text { color: #cd0a0a; }

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary { font-weight: bold; }

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}


/* Icons
----------------------------------*/

/* states and images */

.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url(/css/img/ui-icons.png);
}

/* positioning */

.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */

.ui-corner-tl {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
}

.ui-corner-tr {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

.ui-corner-bl {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.ui-corner-br {
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ui-corner-top {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

.ui-corner-bottom {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ui-corner-right {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.ui-corner-left {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}


/* Overlays */

.ui-widget-overlay {
    background-color: #000;
    opacity: .3;
    filter:Alpha(Opacity=30);
}

.ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background-color: #000;
    opacity: .3;
    filter:Alpha(Opacity=30);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}


/*******************************************************************************
    jQuery UI CSS Framework

        jquery.ui.datepicker

*/

/* Datepicker
----------------------------------*/

.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position:absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover { top: 1px; }

.ui-datepicker .ui-datepicker-prev { left: 2px; }

.ui-datepicker .ui-datepicker-next { right: 2px; }

.ui-datepicker .ui-datepicker-prev-hover { left: 1px; }

.ui-datepicker .ui-datepicker-next-hover { right: 1px; }

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year { width: 100%; }

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%; }

.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.ui-datepicker td {
    border: 0;
    padding: 1px;
}

.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float: left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width: auto; }

.ui-datepicker-multi .ui-datepicker-group { float: left; }

.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group { width: 50%; }

.ui-datepicker-multi-3 .ui-datepicker-group { width: 33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group { width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-buttonpane { clear: left; }

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
}

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }

.ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane { clear: right; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float: right; }

.ui-datepicker-rtl .ui-datepicker-group { float: right; }

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}


/*******************************************************************************
    jQuery UI CSS Framework

        jquery.ui.dialog

*/

/* Dialog
----------------------------------*/

.ui-dialog {
    position: absolute;
    padding: .2em;
    width: 300px;
    overflow: hidden;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .5em 1em .3em;
    position: relative;
}

.ui-dialog .ui-dialog-title {
    float: left;
    margin: .1em 16px .2em 0;
    font-size: 130%;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 19px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 18px;
}

.ui-dialog .ui-dialog-titlebar-close span {
    display: block;
    margin: 1px;
}

.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }

.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: none;
    font-size: 110%;
    overflow: auto;
    zoom: 1;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    border: 0 none;
    background-image: none;
    margin: .5em 0 0 0;
    padding: .3em;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: 0 0 0 .5em;
    padding: 3px 9px;
    width: auto;
    font: bold 12px/15px Georgia, "Times New Roman", Times, serif;
    color: #fefeff;
    border: 1px solid #ededff;
    background:  #39f url(/css/img/gradient.png) repeat-x 0 -110px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    cursor: pointer;
}

.ui-dialog .ui-dialog-buttonpane button:hover,
.ui-dialog .ui-dialog-buttonpane button:focus {
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -110px;
}

.ui-dialog .ui-dialog-buttonpane button:active {
    background: #f93 url(/css/img/gradient.png) repeat-x 0 -110px;
}

.ui-dialog .ui-resizable-se {
    width: 14px;
    height: 14px;
    right: 3px;
    bottom: 3px;
}

.ui-draggable .ui-dialog-titlebar { cursor: move; }

.ui-dialog button:focus {
    outline: 0 none !important;
}


/*******************************************************************************
    jQuery UI CSS Framework

        jquery.ui.slider

*/

/* Slider
----------------------------------*/

.ui-slider {
    position: relative;
    text-align: left;
    margin: .2em .3em 0;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: .6em;
    height: 1.6em;
    cursor: default;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

.ui-slider-horizontal {
    height: 1em;
    background: #39f url(/css/img/gradient.png) repeat-x 0 -60px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.4em;
    margin-left: -.3em;
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -90px;
}

.ui-slider-horizontal .ui-slider-handle:focus,
.ui-slider-horizontal .ui-slider-handle:hover {
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -110px;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
    background: #39f url(/css/img/gradient.png) repeat-x 0 -90px;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-slider-vertical {
    width: .8em;
    height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}

.ui-slider-vertical .ui-slider-range-min { bottom: 0; }

.ui-slider-vertical .ui-slider-range-max { top: 0; }


/*******************************************************************************
    jQuery UI CSS Framework

        jquery.ui.tabs

*/

/* Tabs
----------------------------------*/

.ui-tabs {
    position: relative;
    padding: .2em;
    zoom: 1;
} /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0;
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 1px;
    margin: 0 .2em 1px 0;
    border-bottom: 0 !important;
    padding: 0;
    white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    margin-bottom: 0;
    padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }

.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: none;
}

.ui-tabs .ui-tabs-hide { display: none !important; }


/*******************************************************************************
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 *
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 *
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('/css/img/fancybox/fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('/css/img/fancybox/fancybox.png') -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('/css/img/fancybox/blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('/css/img/fancybox/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('/css/img/fancybox/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('/css/img/fancybox/fancybox-x.png');
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('/css/img/fancybox/fancybox.png');
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('/css/img/fancybox/fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('/css/img/fancybox/fancybox.png');
	background-position: -40px -182px;
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('/css/img/fancybox/fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('/css/img/fancybox/fancybox.png');
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('/css/img/fancybox/fancybox-y.png');
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('/css/img/fancybox/fancybox.png');
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('/css/img/fancybox/fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url('/css/img/fancybox/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url('/css/img/fancybox/fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url('/css/img/fancybox/fancybox.png') -55px -90px no-repeat;
}

/* IE6 */

.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/img/fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/img/fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/img/fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/img/fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/img/fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/img/fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/img/fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
	height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
	position: absolute; margin-top: 0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/img/fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/img/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/img/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/img/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/img/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/img/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/img/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/img/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='css/img/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }


/*******************************************************************************
 * iButton jQuery Plug-in
 *
 * Copyright 2009 Giva, Inc. (http://www.givainc.com/labs/)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * 	http://www.apache.org/licenses/LICENSE-2.0
 *
 * Date: 2009-08-25
 * Rev:  1.0.01 / Modified for ePEL
 */

.ibutton-container {
    position: relative;
    height: 16px;
    cursor: pointer;
    overflow: hidden;
    /* set max width to that of sprite */
    max-width: 400px;
    /* prevent text selection */
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -moz-user-focus: ignore;
    -moz-user-input: disabled;
    /* set default width based on ON/OFF labels */
    width: 55px !important;
}

.ibutton-container input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;

    /* hide the element */
    filter:alpha(opacity=0);
    -moz-opacity: 0.0;
    opacity: 0.0;

    /* allow checking of input if visible */
    -moz-user-input: enabled !important;
}

.ibutton-handle {
    display: block;
    height: 16px;
    cursor: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background: transparent url(/css/img/slider.png) no-repeat scroll 0 -16px;
    z-index: 3;
    padding-left: 3px;
    /* set default width based on ON/OFF labels */
    width: 13px;
}

.ibutton-handle-right {
    height: 100%;
    width: 100%;
    padding-right: 3px;
    background: transparent url(/css/img/slider.png) no-repeat scroll 100% -16px;
    z-index: 3;
}

.ibutton-handle-middle {
    height: 100%;
    width: 100%;
    background: transparent url(/css/img/slider.png) no-repeat scroll 50% -16px;
    z-index: 3;
}

div.ibutton-label-on, div.ibutton-label-off {
    white-space: nowrap;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: inherit;
    display: block;
    height: 13px;
    position: absolute;
    width: auto;
    top: 0;
    padding: 3px 0 0;
    /*padding-top: 3px;*/
    overflow: hidden;
    background: transparent url(/css/img/slider.png) no-repeat scroll 0 0;
}

div.ibutton-label-on span label,
div.ibutton-label-off span label {
    display: inline;
    margin: 0;
    padding: 0;
}

div.ibutton-label-on {
    text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.4);
    text-align: left;
    left: 0;
    z-index: 1;
}

div.ibutton-label-on span {
    padding-left: 8px !important;
}

div.ibutton-label-on span label {
    color: #fff;
}

div.ibutton-label-off {
    background-position: 100% 0;
    text-shadow: 0 -1px 2px rgba(153, 153, 153, 0.4);
    text-align: right;
    right: 0;
    /* the off label needs to near the left edge (ideally just 5px away)
    it just needs to be close enough that it won't show under the handle if dragged to the left */
    width: 95%;
}

div.ibutton-label-off span {
    padding-right: 5px;
}

div.ibutton-label-off span label {
    color: #7c7c7c;
}

/* create an outline when button gets focus via keyboard */
.ibutton-container label {
    cursor: inherit;
    border: 1px dotted transparent;
}

.ibutton-focus label {
    /* we must use border, since outline doesn't work in IE */
    border: 1px dotted #666 !important;
}

.ibutton-focus div.ibutton-label-on span label {
    /* use white for more contrast */
    border-color: #fff !important;
}

/* add padding to right/left so that text gets clipped before absolute edge */
.ibutton-padding-left, .ibutton-padding-right {
    position: absolute;
    top: 4px;
    z-index: 2;
    /*background: transparent url(/css/img/slider.png) no-repeat scroll 0 -4px;*/
    background: transparent none no-repeat scroll;
    width: 3px;
    height: 20px;
}

.ibutton-padding-left {
    left: 0;
}

.ibutton-padding-right {
    right: 0;
    background-position: 100% -4px;
}

/* change the styles of the handle when being dragged */
.ibutton-active-handle .ibutton-handle {
    background-position: 0 -64px;
}

.ibutton-active-handle .ibutton-handle-right {
    background-position: 100% -64px;
}

.ibutton-active-handle .ibutton-handle-middle {
    background-position: 50% -64px;
}

/* styles to use when the button is disabled */
.ibutton-disabled {
    cursor: not-allowed !important; /* cursor options: default or not-allowed */
}

.ibutton-disabled .ibutton-handle {
    background-position: 0 -48px;
}

.ibutton-disabled .ibutton-handle-right {
    background-position: 100% -48px;
}

.ibutton-disabled .ibutton-handle-middle {
    background-position: 50% -48px;
}

.ibutton-disabled div.ibutton-label-on {
    background-position: 0 -32px;
}

.ibutton-disabled div.ibutton-label-off {
    background-position: 100% -32px;
}

.ibutton-disabled .ibutton-padding-left {
    background-position: 0 -32px;
}

.ibutton-disabled .ibutton-padding-right {
    background-position: 100% -32px;
}

.ibutton-disabled div.ibutton-label-on {
    color: #fff;
}

.ibutton-disabled div.ibutton-label-off {
    color: #cbcbcb;
}


/* Master Switch */

.master .ibutton-label-on {
    background-position: 0 -80px;
}

.master .ibutton-label-off {
    background-position: 100% -80px;
}

.master .ibutton-disabled div.ibutton-label-on {
    background-position: 0 -96px;
}

.master .ibutton-disabled div.ibutton-label-off {
    background-position: 100% -96px;
}

