@charset "UTF-8";
/***************************************************************************

	IE version < 8

*/


/* Entête */

#wrapper header form#lang {
    background-position: left 4px;
}

#wrapper header h1 {
    padding-top: 4px;
    line-height: 36px;
}


/* Nav */

nav ul li {
    padding: 0 0 2px;
    list-style-image: none;
}

nav ul li ul li:hover {
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -110px;
}

nav ul li ul a:hover {
    background-color: transparent;
}


/* Tableaux */

table tbody tr,
table tbody tr td {
    background-color: transparent;
}

table tbody tr.odd,
table tbody tr.odd td {
    background-color: #def;
}

table tbody tr td.controls div.controls span {
    float: left;
}

/* Blocs en relief & couleurs (ex…) */

div.alert {
    background-color: #fa4;
}

div.info {
    background-color: #4af;
}

form > fieldset > p.info,
form > fieldset > p.alert {
    padding: 0 0 1px;
    background-color: transparent;
}

form > fieldset > p.info {
    color: #39f;
}

form > fieldset > p.alert {
    color: #f93;
}

#content h1 {
    background-color: #39f;
}

.white,
section > div,
section > ul,
section > dl,
section > form,
aside > div > div,
aside > div > form {
    background-color: #fefeff;
}

.blue,
.orange,
section > form,
aside > div > form,
#appMessage,
#ajaxMessage,
#reqNotMet{
    border: 1px solid #dcdcdd;
}

.orange,
#appMessage,
#ajaxMessage,
#reqNotMet {
    background-color: #f93;
}

