@charset "UTF-8";
/***************************************************************************

	IE version <= 8

*/


/* Entête */

#wrapper header form#lang {
    background-position: left 3px;
}


/* Nav */

nav ul li > a {
    border: 1px solid transparent;
}

nav ul li.current > a {
    border: 1px solid #fee;
}

nav ul ul {
    top: 33px;
}


/* Tableaux */

form.table table.howtolearn-table tbody td div.input.text {
    margin-right: 5px;
}


/*
    Couleurs de fond : utilisation d'un filtre MS
    (ne fonctionne pas avant IE8…)

    AARRGGBB -> AA = transparence, RR GG BB = couleurs (hexa)

    0% (transparent) -> #00 en hexadécimal
    20% -> #33
    50% -> #80
    75% -> #C0
    100% (opaque) -> #FF

*/

/*.green,
.purple,
.red,
.yellow,*/
.white,
.blue,
.orange,
div.info,
div.alert,
section > div,
section > ul,
section > dl,
section > form,
aside > div > div,
aside > div > form,
section table tbody tr td,
section table tbody tr.even,
section table tbody tr.even td {
    background: transparent;
}

.white,
section > div,
section > ul,
section > dl,
aside > div > div {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80fefeff,endColorstr=#80fefeff);
}

aside > div#photo > div {
    filter:none;
}

#content h1,
div.info {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#a03399ff,endColorstr=#a03399ff);
}

.blue,
section > form,
aside > div > form,
section table tbody tr.odd,
section table tbody tr.odd td {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3399ddff,endColorstr=#3399ddff);
}

.orange,
div.alert,
#appMessage,
#ajaxMessage,
#reqNotMet {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c0ff9933,endColorstr=#c0ff9933);
}
/*
.green {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33a0ffa3,endColorstr=#33a0ffa3);
}

.purple {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33aea0ff,endColorstr=#33aea0ff);
}

.red {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffa6a0,endColorstr=#33ffa6a0);
}

.yellow {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33fdffa0,endColorstr=#33fdffa0);
}
*/
