
        <div>
            <h2><?php __("email sending failure"); ?></h2>
            <p><?php __("Please try again later."); ?></p>
        </div><?php

/**
 * Ajouts au buffer Js
 *
 */

$this->Js->Buffer("
    // Redimensionnement
    parent.$('#fancybox-inner').height(100);
    parent.$('#fancybox-wrap').height(120);
    parent.$('#fancybox-content').height(120);
    parent.$.fancybox.center();
");

?>