@charset "UTF-8";
/***************************************************************************

	Conteneurs globaux

*/

html {
    background: #f6f6fa url(/css/img/bkgnd-html.png) repeat-x fixed center top;
}

html.fancy,
body {
    background-color: transparent;
    background-image: none;
}

body {
    width: 960px;
    margin: 0 auto;
    font: normal .8em/1.2em Optima, "Trebuchet MS", Tahoma, Verdana, Helvetica, sans-serif;
    color: #777;
}

body.fancy,
div.fancy {
    width: 450px;
    padding-top: 12px;
    background: transparent url(/css/img/globe.png) no-repeat fixed center center;
}


/***************************************************************************

	Balises globales

*/

h1,
h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}

a {
    outline: 0 none !important;
    text-decoration: none;
}

a:link,
a:visited {
    color: #39f;
}

a:hover,
a:focus {
    color: #f93;
}

a:active {
    color: #4af;
}

i, em {
    font-style: italic;
}

b, strong, dt {
    color: #808080;
}

b, strong {
    font-weight: bold;
}

abbr {
    cursor: help;
}

ul {
    list-style-type: none;
}

dt {
    text-align: right;
    font-weight: bold;
    float: left;
    clear: left;
}

p, li, dd {
    line-height: 1.2em;
}

li, dd {
    padding: 0 0 .3em;
}

dd {
    text-align: left;
}


/***************************************************************************

	Classes génériques

*/

.smaller {
    font-size: 90%;
    font-weight: normal;
}

.xsmaller {
    font-size: 80%;
    line-height: 1em;
    font-weight: normal;
}

.bolder {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.infotext {
    color: #39f;
}

.alerttext {
    color: #f93;
}

.hidden {
    display: none;
}


/***************************************************************************

	Conteneurs

*/

#wrapper {
    background: transparent url(/css/img/bkgnd-body.png) repeat-x center 65px;
    -webkit-border-bottom-left-radius: 1em;
    -webkit-border-bottom-right-radius: 1em;
    /*-moz-border-radius: 0 0 1em 1em;
    border-radius: 0 0 1em 1em;*/
    -moz-border-radius-bottomleft: 1em;
    -moz-border-radius-bottomright: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

#content {
    position: relative;
    padding: 50px 8px 12px 16px;
    background: transparent url(/css/img/globe.png) no-repeat fixed center center;
    border: 1px solid #dcdcdd;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

#content h1,
h2,
h3 {
    text-align: center;
    font-size: 1.2em;
}

#content h1,
h2 {
    padding: 4px 0;
    text-align: center;
    font-size: 1.2em;
}

#content h1 {
    color: #fefeff;
}

h2 {
    margin-bottom: 8px;
    padding-right: 6px;
    color: #39f;
    text-shadow: 1px 1px 3px #dcc;
    clear: both;
}


#content header,
article {
    width: 680px;
    float: left;
    background-color: transparent;
}

article.full {
    width: 100%;
}

article.half {
    width: 340px;
}

section {
    padding-right: 4px;
    word-wrap: break-word;
}

section.half {
    width: 336px;
}

section.half.left {
    float: left;
}

section.half.right {
    float: right;
}

section > div:first-child {
    margin-top: 7px;
}

section dt {
    width: 130px;
}

section dd {
    margin-left: 137px;
}

aside {
    overflow: hidden;
}

aside #login {
    display: none;
}

aside dt {
    width: 80px;
}

aside dd {
    margin-left: 87px;
}

section,
aside div {
    background-color: transparent;
    text-align: justify;
    text-justify: newspaper;
}

section ul,
section p,
aside div p {
    /*text-indent: .6em;*/
    text-indent: 0;
}

section .instruction p {
    margin-bottom: .2em;
}

section .instruction ul {
    margin-bottom: .4em;
    padding-left: 0;
    list-style-position: inside;
    list-style-type: circle;
}

section .instruction ul li {
    padding-bottom: .1em;
}

aside div ul {
    margin-left: 2.5em;
    list-style-type: circle;
}

section > div > p,
aside > div > div > p {
    margin-bottom: .5em;
}

section > div > p:last-of-type,
aside > div > div > p:last-of-type {
    margin-bottom: .2em;
}

section dd:last-of-type,
section li:last-of-type {
    padding-bottom: .2em;
}

section #language-list  dd span.see {
    margin-bottom: -4px;
}

section dd span.language-list {
    padding-left: 6px;
    font-weight: bold;
    color: #39f;
}

section > div,
section > ul,
section > dl,
section > form,
aside > div > div,
aside > div > nav,
aside > div > dl,
aside > div > form {
    margin: -4px 8px 6px 0;
}

section > div,
section > ul,
section > dl,
section > form,
aside > div > div,
aside > div > dl,
aside > div > form {
    padding: 4px 8px 2px;
}

#content h1,
#appMessage,
#ajaxMessage,
#reqNotMet {
    margin: 0 12px 3px 0;
    padding: 4px 8px;
}

#content h1.spaced,
#content article.full h1 {
    margin-bottom: 12px;
}

#content h1.spaced {
    margin-right: 8px;
}

#content article.full h1 {
    margin-right: 4px;
}

#reqNotMet {
    display: none;
}

.tail {
    height: 16px;
    margin: -.2em -3px 1px;
    padding-right: 1px;
    clear: both;
}

.tail a,
.tail span,
.tail div.loading {
    float: right;
}

.clear {
    clear: both;
}


/***************************************************************************

	Tableaux

*/

div table {
    width: 100%;
    background-color: transparent;
}

#content div.table {
    padding: 0;
}

article.full section div.table {
    margin-right: 4px;
}

section table thead tr th,
section table tfoot tr td,
section table tbody tr td {
    text-align: center;
    min-width: 3em;
}

section table thead tr th,
section table tfoot tr th {
    color: #999;
    font-size: 115%;
    font-style: italic;
    white-space: no-wrap;
    text-shadow: 1px 1px 3px #dededd;
}

section table thead tr th {
    padding: 6px 5px 9px;
}

section table tfoot tr th {
    padding: 9px 5px 6px;
}

#content div.table table tbody tr td {
    font-size: 95%;
}

section table tbody tr td:first-child {
    padding-left: .5em;
}

section table tbody tr,
section table tbody tr.even {
    background-color: transparent;
}

section table tbody tr.odd {
    background-color: rgba(153, 221, 255, .2);
}

section table tbody tr td,
section table tfoot tr td {
    padding: 3px 6px;
    line-height: 110%;
}

section table tbody tr td {
    line-height: 1.1em;
}

section table tbody tr td.smaller {
    line-height: 1em;
}

section table tbody tr td span {
    line-height: 1em;
}

section table tfoot tr td {
    font-weight: bold;
    font-size: 105%;
    color: #888;
    background-color: rgba(255, 153, 51, .2);
}

section table tbody tr td img {
    float: left;
    margin: 0 6px 0 3px;
}

section table tbody tr td:first-child img {
    margin-left: 12px;
}

section table tbody tr td form > div.ibutton-container {
    margin: 0 auto;
}

/* Alertes */

section table tbody tr td.alert {
    text-align: center;
    height: 2.4em;
}

section table tbody tr td.alert p.alert {
    margin-left: 1px;
}

/* Contrôles */

table thead tr th.controls,
table tbody tr td.controls div.controls {
    height: 16px;
    width: 36px;
}

table tbody tr td.controls div.controls {
    display: block;
    margin: auto;
}

table tbody tr td.controls div.controls span {
    display: inline-block;
}

table tbody tr td.controls div.loading,
table tbody tr td.controls div.controls a {
    margin: auto;
}

table thead tr th div.controls a.supp,
table tbody tr td div.controls span.supp {
    float: right;
}

table thead tr a#search-init,
table thead tr span#search-init {
    float: right;
    display: none;
    margin-left: 2px;
}

/* Centrage vertical */

table tbody tr td {
    vertical-align: middle;
}

/* Portfolio -> Vue d'ensemble du Passeport */

#assessment table th:first-child {
    width: 7em;
}

#assessment table th:nth-child(2) {
    width: 5.5em;
    padding-left: 0;
    padding-right: 0;
}

#assessment table th:nth-child(4) {
    width: 8em;
}

#assessment table td:first-child,
#assessment table td:nth-child(2) {
    font-weight: bold;
}

#assessment table td:first-child {
    color: #888;
}

#assessment table td:nth-child(2) {
    color: #39f;
}

#assessment table td:nth-child(3) {
    font-size: .9em;
    text-align: justify;
}

#assessment table td:nth-child(4) {
    font-size: .9em;
    line-height: 1em;
    color: #f93;
}

/* Portfolio -> Biographie */

#abroad table tr th.date {
    max-width: 8em;
}

#valuable table tr th:first-child,
#contact table tr th:first-child,
#cultural table tr th:first-child,
#employment table tr th:first-child,
#abroad table tr th.duration {
    min-width: 6em;
}

#valuable table tr td:first-child,
#abroad table tr td:first-child {
    text-align: justify;
}

#contact table tr td,
#cultural table tr td,
#employment table tr td,
#objective table tr td {
    vertical-align: text-top;
    text-align: justify;
}

#contact table tr td:first-child,
#cultural table tr td:first-child,
#employment table tr td:first-child {
    text-align: left;
}

#contact table tr td:last-child,
#cultural table tr td:last-child,
#employment table tr td:last-child,
#objective table tr td:last-child {
    vertical-align: middle;
}

#valuable table tr td,
#valuable table tr td.alert {
    text-align: justify;
}

#abroad table tr td:first-child {
    padding-right: 1.5em;
}

/* Portfolio -> Dossier */

table.dossier tbody tr td.alert {
    text-align: justify !important;
}

table.document thead tr th:nth-child(2) {
    width: 5em;
}

table.document thead tr th.controls,
table.document tbody tr td.controls div.controls {
    width: 80px;
}

table.document tr td {
    text-align: justify;
}

table.document tbody tr td div.controls span {
    float: left;
}

table.document tbody tr td:first-child {
    width: 14em;
    color: #888;
    font-weight: bold;
    text-align: center;
}

#certificate table.dossier tr td:first-child {
    max-width: 12em;
}

#certificate table.dossier tr th:nth-child(4) {
    min-width: 5em;
}

/* Portfolio -> Auto-évaluation */

section table tbody tr.user-assess.even {
    background-color: rgba(255, 224, 255, .20);
}

section table tbody tr.user-assess.odd {
    background-color: rgba(174, 160, 255, .10);
}

/* Enseignants -> groupes */

#groups table tr th:first-child {
    width: 20%;
}

#groups table tr th:nth-child(2) {
    width: 40%;
}

#groups table tr th:nth-child(3) {
    width: 29%;
}

#groups table thead tr th.controls,
#groups table tbody tr td.controls div.controls {
    width: 56px;
}

#groups table tr td:first-child {
    color: #888;
    font-weight: bold;
}

#groups table tr td:first-child span:first-child {
    color: #39f;
}

#groups table tr td:first-child span:first-child:hover {
    color: #f93;
}

#groups table tr td:nth-child(2) {
    text-align: left;
}

#group-info h2:hover {
    color: #f93;
}

/* Page de recherche */

#search-page table tr td:first-child {
    padding-left: 0;
}

#search-page table tr td.alert {
    text-align: center;
}

#search-page table tr td:nth-child(4) {
    min-width: 8em;
}

#search-page table tr td:first-child a {
    font-weight: bold;
}

#search-page table td.controls {
    width: 36px;
}

#search-page table td.controls div.controls {
    height: 16px;
}

/* Visites */

#visit-page table thead tr th.student-name {
    min-width: 5.5em;
}

#visit-page table tbody tr td.visitor-name {
    padding-left: 0;
    text-align: left;
}

/* Consultation du Portfolio */

table.typedesc tbody tr td {
    text-align: justify;
}

table.descdatelength tbody tr td:first-child {
    text-align: justify;
}

#experience table {
    margin-bottom: 6px;
}

#experience table th {
    color: #39f;
}

#experience table td {
    padding: .1em .3em;
    vertical-align: top;
    text-align: left;
    font-style: italic;
}

#experience table td:first-child {
    width: 26em;
    text-align: right;
    font-weight: bold;
    font-style: normal;
}

#biography-empty p {
    text-align: center;
}

#show-view table.document.view thead tr th.controls,
#show-view table.document.view tbody tr td.controls div.controls {
    width: 16px;
}

/* Admin */

#activity table thead tr th.event {
    min-width: 7em;
}

#activity table thead tr th.university {
    width: 9em;
}

#activity table thead tr th.university {
    width: 9em;
}

table thead tr th.student-group,
table thead tr th.student-name,
table thead tr th.teacher-name,
table thead tr th.visitor-name {
    min-width: 5em;
}

table thead tr th.user-active {
    min-width: 85px;
}

#elements-list table tr.smaller th {
    padding-top: 3px;
}


/***************************************************************************

	En-tête

*/

#wrapper > header {
    position: relative;
    width: 960px;
    height: 50px;
    color: #fee;
}

#wrapper > header h1 {
    color: #fee;
    padding: 13px 0 0 12px;
    font-size: 26px;
    line-height: 26px;
    text-shadow: 1px 1px 2px #656566;
}

#wrapper > header h1 span {
    color: #399eff;
    font-size: 120%;
    text-shadow: 1px 1px 1px #767677;
}

/* Infos utilisateur */

#user-info {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 0 2px;
    font-size: 10px;
    line-height: 13px;
    color: #fefeff;
}

#user-info span {
    font-size: 12px;
    font-weight: bold;
}


/***************************************************************************

	Pied

*/

body footer {
    position: relative;
    height: 2.1em;
    width: 960px;
    margin: 0 auto;
    padding-top: .7em;
    text-align: center;
    color: #999;
    font-size: .8em;
    line-height: 1.2em;
    letter-spacing: .05em;
    background-color: transparent;
    background-image: none;
}

body footer a:link,
body footer a:visited {
    color: #aaa;
}

body footer a:hover,
body footer a:focus {
    color: #39f;
}

body footer a:active {
    color: #aaa;
}

body footer p {
    padding-bottom: 1.6em;
}


/***************************************************************************

	Navigation / barre de menu

*/

#content > nav {
    position: absolute;
    left: 0;
    top: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#content > nav ul {
    width: 946px;
    list-style: none;
    margin: 0;
    padding: 7px 6px 0;
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -110px;
    line-height: 100%;
    -webkit-border-top-left-radius: 1em;
    -webkit-border-top-right-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -moz-border-radius-topright: 1em;
    /*-moz-border-radius: 1em 1em 0 0;
    border-radius: 1em 1em 0 0;*/
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    z-index: 100;
}

#content > nav ul li {
    margin: 0 4px;
    padding: 0 0 7px;
    float: left;
    position: relative;
}

#content > nav ul li.tools {
    float: right;
}

/* Liens de premier niveau */

#content > nav ul a,
#content > nav ul a:link,
#content > nav ul a:visited,
#content > nav ul span {
    color: #fee;
}

#content > nav ul span {
    cursor: pointer;
}

#content > nav ul li a,
#content > nav ul li span {
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 7px 12px 8px;
    margin: 0;
    -webkit-border-radius: .8em;
    -moz-border-radius: .8em;
    border-radius: .8em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

#content > nav ul li > span,
#content > nav ul li.current a,
#content > nav ul li > a {
    box-shadow: -1px -1px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: -1px -1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: -1px -1px 1px rgba(0, 0, 0, .2);
}

#content > nav ul li:hover > a,
#content > nav ul li:hover > span {
    color: #fff;
    background: url(/css/img/gradient.png) repeat-x 0 -110px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

#content > nav ul li.current > a,
#content > nav ul li.current > span {
    color: #777;
    background: #dcdcff url(/css/img/gradient.png) repeat-x 0 -40px;
    text-shadow: 0 1px 0 rgba(128, 128, 128, .2);
}

#content > nav ul li.current:hover > a {
    background-color: #ededff;
}

#content > nav ul li.tools.log:hover > a {
    background-color: #f93;
}

/* Sous menus */

#content > nav ul li:hover > ul {
    /*display: block;*/
}

/* Survol des liens de niveau inférieur */

#content > nav ul li ul li:hover a,
#content > nav ul li:hover ul li a {
    background: none;
    border: none;
    color: #666;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#content > nav ul li ul li.current a {
    color: #39f !important;
}

#content > nav ul li ul a:hover {
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -110px !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

#content > nav ul li ul li.current > a {
    color: #39f !important;
}

#content > nav ul li ul li a:hover {
    color: #fff !important;
}

/* Langages */

#content > nav ul li > ul li a.language {
    font-variant: small-caps;
    color: #666;
}

/* Second niveau */

#content > nav ul ul {
    display: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 32px;
    left: 0;
    line-height: 130%;
    background: #fff url(/css/img/gradient.png) repeat-x 0 -40px;
    border: solid 1px #b4b4b4;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

#content > nav ul ul li {
    float: none;
    margin: 0;
    padding: 0;
}

#content > nav ul ul a {
    padding: 3px 9px 4px;
    font-weight: normal;
    text-shadow: 0 1px 0 #fff;
}

#content > nav ul ul li:last-child a {
    padding-bottom: 5px;
}

/* Troisième niveau éventuel */

#content > nav ul ul ul {
    left: 181px;
    top: -3px;
}

/* Coins arrondis des niveaux inférieurs */

#content > nav ul ul li:first-child > a {
    -webkit-border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright: 9px;
    /*-moz-border-radius: 9px 9px 0 0;
    border-radius: 9px 9px 0 0;*/
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

#content > nav ul ul li:last-child > a {
    -webkit-border-bottom-left-radius: 9px;
    -webkit-border-bottom-right-radius: 9px;
    -moz-border-radius-bottomleft: 9px;
    -moz-border-radius-bottomright: 9px;
    /*border-radius: 0 0 9px 9px;
    -moz-border-radius: 0 0 9px 9px;*/
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

#content > nav ul ul li:first-child:last-child > a {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

/* clearfix (http://www.webtoolkit.info/css-clearfix.html) */

#content > nav ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#content > nav ul {
    display: inline-block;
}

html[xmlns] #content > nav ul {
    display: block;
}

* html #content > nav ul {
    height: 1%;
}


/***************************************************************************

	Navigation / menu latéral

*/

aside > div > nav {
    position: relative;
    text-align: center;
    margin-top: -4px;
    margin-bottom: 8px;
}

aside > div > nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside > div > nav > ul li {
    padding: 3px 3px 4px 4px;
}

aside > div > nav > ul li:first-child {
    padding-top: 4px;
}

aside > div > nav > ul li a:link,
aside > div > nav > ul li a:visited {
    color: #777;
}

aside > div > nav > ul li:hover {
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -110px;
}

aside > div > nav > ul li:hover a {
    color: #fefeff;
}

aside > div > nav > ul li.current {
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -5px;
}

aside > div > nav > ul li.current:hover {
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -110px;
}

aside > div > nav > ul li.current a {
    color: #39f;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

aside > div > nav > ul li.current:hover a {
    color: #fefeff;
}

aside > div > nav > ul li:first-child {
    -webkit-border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright: 9px;
    /*-moz-border-radius: 9px 9px 0 0;
    border-radius: 9px 9px 0 0;*/
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

aside > div > nav > ul li:last-child {
    -webkit-border-bottom-left-radius: 9px;
    -webkit-border-bottom-right-radius: 9px;
    -moz-border-radius-bottomleft: 9px;
    -moz-border-radius-bottomright: 9px;
    /*border-radius: 0 0 9px 9px;
    -moz-border-radius: 0 0 9px 9px;*/
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

/* Sous menu latéral */
aside > div > nav.submenu {
    padding: 4px 0 3px;
}

aside > div > nav.submenu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

aside > div > nav.submenu > ul li:first-child,
aside > div > nav.submenu > ul li:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

aside > div > nav.submenu > ul li {
    display: inline;
    margin: 0 .5em;
    padding: 3px 3px 4px 4px;
}


/***************************************************************************

	Blocs en relief / couleurs

*/

section > div,
section > ul,
section > dl,
section > form,
aside > div > div,
aside > div > dl,
aside > div > form,
aside > div > nav,
#content h1,
#appMessage,
#ajaxMessage,
#reqNotMet {
    border: 1px solid #efefee;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}

#content h1 {
    background-color: rgba(51, 153, 255, .7);
}

div.info,
div.alert {
    color: #fefeff;
}

div.info {
    font-weight: normal;
    background-color: rgba(51, 153, 255, .6);
}

.white,
section > div,
section > ul,
section > dl,
aside > div > dl,
aside > div > div {
    background-color: rgba(254, 254, 255, .5);
}

.blue,
section > form,
aside > div > div.submenu,
aside > div > div.v-sub-menu,
aside > div > nav,
aside > div > form {
    background-color: rgba(153, 221, 255, .2);
}

.orange,
div.alert,
#appMessage,
#ajaxMessage,
#reqNotMet {
    background-color: rgba(255, 153, 51, .6);
}

/*
.green {
    background-color: rgba(160, 255, 163, .2);
}

.purple {
    background-color: rgba(174, 160, 255, .2);
}

.pink {
    background-color: rgba(255, 224, 255, .2);
}

.red {
    background-color: rgba(255, 166, 160, .2);
}

.yellow {
    background-color: rgba(253, 255, 160, .2);
}
*/


/***************************************************************************

	Messages (flash, validation etc…)

*/

#authMessage,
#flashMessage {
    margin-left: 0;
}

#appMessage,
#ajaxMessage,
#reqNotMet {
    margin: 1px 8px 6px 0;
    padding: 0 10px;
    font: bold 1.2em/1.6em Georgia, "Times New Roman", Times, serif;
    color: #fefeff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

#ajaxMessage {
    display: none;
}

.error {}

.form-error {}

.error-message {
    font-size: .9em;
    line-height: 1.1em;
    font-style: italic;
    color: #f93;
    margin-top: 2px;
}

#old_ies_are_buggy {
    font-size: 1.1em;
}


/***************************************************************************

	Pictos actifs

*/

a.edit,
a.add,
a.people,
a.photo,
a.search,
a.see,
a.supp,
a.gear,
span.edit,
span.add,
span.people,
span.photo,
span.search,
span.see,
span.upload,
span.download,
span.move,
span.supp,
span.gear,
.information dl dt {
    display: inline-block;
    height: 16px;
    width: 16px;
}

dt.edit,
a.edit,
span.edit {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -64px;
}

dt.add,
a.add,
span.add {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -48px;
}

dt.people,
a.people,
span.people {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -192px;
}

dt.photo,
a.photo,
span.photo {
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -209px;
}

dt.search {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -224px;
}

dt.see,
a.see,
span.see {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -240px;
}

dt.supp,
a.supp,
span.supp {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -32px;
}

dt.gear,
a.gear,
span.gear {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -320px;
}

dt.move,
span.move {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -336px;
}

dt.download,
span.download {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -352px;
}

dt.upload,
span.upload {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -16px;
}

/* Information, utilisation */

.hinformation dl dd,
aside .information > dl dd {
    margin-left: 24px;
}

/* Cas particuliers */

table th #search-new,
table th #search-init {
    height: 12px;
    width: 16px;
    display: inline-block;
}

table th #search-new {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -226px;
}

table th #search-init {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -34px;
}


/***************************************************************************

	Types de documents

*/

span.picto-application,
span.picto-text,
span.picto-audio,
span.picto-image,
span.picto-video,
span.picto-archive {
    display: block;
    margin: auto;
    height: 48px;
    width: 48px;
}

span.picto-application,
span.picto-text {
    background: transparent url(/css/img/document-types.png) no-repeat 0 0;
}

span.picto-audio {
    background: transparent url(/css/img/document-types.png) no-repeat 0 -48px;
}

span.picto-image {
    background: transparent url(/css/img/document-types.png) no-repeat 0 -96px;
}

span.picto-video {
    background: transparent url(/css/img/document-types.png) no-repeat 0 -144px;
}

span.picto-archive {
    background: transparent url(/css/img/document-types.png) no-repeat 0 -192px;
}


/***************************************************************************

	Pictos de présence de pièces dans le dossier

*/

span.bubble-0,
span.bubble-1,
span.bubble-2,
span.bubble-3 {
    display: block;
    float: left;
    height: 16px;
    width: 12px;
}

span.bubble-0 {
    background: transparent url(/css/img/sixteen.png) no-repeat -2px -256px;
}

span.bubble-1 {
    background: transparent url(/css/img/sixteen.png) no-repeat -2px -272px;
}

span.bubble-2 {
    background: transparent url(/css/img/sixteen.png) no-repeat -2px -288px;
}

span.bubble-3 {
    background: transparent url(/css/img/sixteen.png) no-repeat -2px -304px;
}

aside .information > dl.bubbles dt {
    height: 16px;
    margin-top: -2px;
}

aside .information > dl.bubbles dd {
    height: 12px;
}

.information dl dt.bubble-0 {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -256px;
}

.information dl dt.bubble-1 {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -272px;
}

.information dl dt.bubble-2 {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -289px;
}

.information dl dt.bubble-3 {
    background: transparent url(/css/img/sixteen.png) no-repeat 0 -305px;
}


/***************************************************************************

	Symboles

*/

span.symbol-mother,
span.symbol-usual,
span.symbol-phone {
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-bottom: -1px;
}

span.symbol-mother {
    background: transparent url(/css/img/symbols.png) no-repeat 0 0;
}

span.symbol-usual {
    background: transparent url(/css/img/symbols.png) no-repeat 0 -11px;
}

span.symbol-phone {
    background: transparent url(/css/img/symbols.png) no-repeat 0 -22px;
}


/***************************************************************************

	Loading…

*/

div.loading {
    display: none;
    margin: auto;
    height: 16px;
    width: 16px;
    background: transparent url(/css/img/loading-spin.gif) no-repeat center center;
}

h2 span.loading {
    display: inline-block;
    vertical-align: text-bottom;
    margin: 0 6px .2em;
    /*width: 16px;
    background: transparent url(/css/img/loading-spin.gif) no-repeat center center;*/
    height: 12px;
    width: 200px;
    background: transparent url(/css/img/loading-bar.gif) repeat-x center center;
}


/***************************************************************************

	Info bulles / Aide

*/

div#divToolTip {
    z-index: 99;
}

div#divToolTip img {
    margin: -5px -7px -9px -9px;
}

div.tooltip-data {
    display: none;
}

.help,
.sort-help {
    padding-right: 18px;
    margin-right: 7px;
    background: transparent url(/css/img/sixteen.png) no-repeat right -375px;
}

section div.table table thead tr th.help,
section div.table table thead tr th.sort-help {
    background: transparent url(/css/img/sixteen.png) no-repeat right -369px;
}

section div table thead tr th:last-child.help,
section div table thead tr th:last-child.sort-help {
    padding-right: 17px;
}

section div table thead tr th a.help,
section div table thead tr th span.help,
section div table thead tr th a.sort-help,
section div table thead tr th span.sort-help {
    margin-right: -.8em;
    background: transparent url(/css/img/sixteen.png) no-repeat right -374px;
}

article.half table thead tr th.help,
article.half table thead tr th.sort-help {
    padding-right: 5px;
}


/***************************************************************************

	Blocs d'information et d'alerte

*/

.info,
.alert {
    font-weight: bold;
}

.info {
    color: #999;
}

.alert {
    color: #f93;
}

dd.info,
span.info {
    color: #39f;
}

section > div.info,
aside > div > div.alert {
    border: 1px solid #ccc;
}

aside > div > div > p {
    margin: 2px -3px 2px -2px;
    padding: 0 5px 1px;
}

aside > div > div > p:last-child {
    margin-bottom: 4px;
}

section div p.info,
section div p.alert,
aside > div > div > p.info,
aside > div > div > p.alert {
    margin: 2px -3px 5px -2px;
    padding: 2px 5px 3px;
    clear: both;
    border: 1px solid #dededd;
    -webkit-border-radius: .6em;
    -moz-border-radius: .6em;
    border-radius: .6em;
}

section div p.info,
aside > div > div p.info {
    background-color: rgba(153, 221, 255, .1);
}

section div p.alert,
aside > div > div p.alert {
    background-color: #fefeff;
}

section div p.info {
    margin: 4px -1px 5px 0;
}

section div p.alert {
    margin: 2px 0 5px 1px;
}

aside div.table p.info,
section div.table p.info {
    margin: 4px 5px 5px 6px;
    padding: 3px 5px;
}

section div.table p.alert {
    margin: 4px 6px 5px 7px;
    padding: 2px 5px 3px;
}

p.info,
p.alert {
    font-size: 90%;
    line-height: 120%;
}

span.tip-info,
span.tip-alert {
    display: block;
    float: left;
    margin: -1px 1px -2px -3px;
    height: 15px;
    width: 13px;
}

section div.table span.tip-info,
section div.table span.tip-alert {
    margin-top: 0;
}

span.tip-info {
    background: transparent url(/css/img/sixteen.png) no-repeat -2px -160px;
}

span.tip-alert {
    background: transparent url(/css/img/sixteen.png) no-repeat -2px -176px;
}


/***************************************************************************

	Illustrations de labels

*/

.picto-listening,
.picto-reading,
.picto-speak_int,
.picto-speak_prod,
.picto-writing,
.pictoPortfolioListening,
.pictoPortfolioReading,
.pictoPortfolioSpeakInt,
.pictoPortfolioSpeakProd,
.pictoPortfolioWriting {
    display: block;
    height: 16px;
    width: 16px;
    margin-left: 3px;
}

.picto-listening,
.picto-reading,
.picto-speak_int,
.picto-speak_prod,
.picto-writing {
    margin: 2px auto;
}

.pictoPortfolioListening,
.pictoPortfolioReading,
.pictoPortfolioSpeakInt,
.pictoPortfolioSpeakProd,
.pictoPortfolioWriting {
    float: left;
}

.picto-listening,
.pictoPortfolioListening {
    background: transparent url(/css/img/sixteen.png) no-repeat right -80px;
}

.picto-reading,
.pictoPortfolioReading {
    background: transparent url(/css/img/sixteen.png) no-repeat right -96px;
}

.picto-speak_int,
.pictoPortfolioSpeakInt {
    background: transparent url(/css/img/sixteen.png) no-repeat right -112px;
}

.picto-speak_prod,
.pictoPortfolioSpeakProd {
    background: transparent url(/css/img/sixteen.png) no-repeat right -128px;
}

.picto-writing,
.pictoPortfolioWriting {
    background: transparent url(/css/img/sixteen.png) no-repeat right -144px;
}


/***************************************************************************

	Photo

*/

aside #photo {
    /*display: none;*/
}

aside #photo > div {
    min-height: 33px;
    position: relative;
    padding: 0;
    background: transparent none no-repeat center top;
}

aside #photo > div > div {
    position: absolute;
}

aside #photo > div > div {
    width: 232px;
    left: 0;
    bottom: 0;
    height: 18px;
    padding: 1px 6px;
    border-top: 1px solid #dcdcdd;
    background-color: transparent;
    -webkit-border-bottom-left-radius: 1em;
    -webkit-border-bottom-right-radius: 1em;
    /*-moz-border-radius: 0 0 1em 1em;
    border-radius: 0 0 1em 1em;*/
    -moz-border-radius-bottomleft: 1em;
    -moz-border-radius-bottomright: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

aside #photo > div > div.message {
    display: none;
    width: 228px;
    left: 0;
    top: 0;
    padding: 1px 8px;
    border: 1px solid #dcdcdd;
    border-top: 0 none;
    font-size: 85%;
    line-height: 1.6em;
    color: #fefeff;
    background-color: #f93;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

aside #photo > div > div > div.loading {
    position: absolute;
    left: 50%;
    margin-left: -8px;
}

aside #photo > div > div > span#photo-upload {
    float: left;
}

aside #photo > div > div > span#photo-delete {
    display: none;
    float: right;
}

aside #photo table {
    border-top: 1px solid #dcdcdd;
}

aside #photo table td {
    vertical-align: top;
}

aside #photo table td:first-child {
    width: 7em;
    text-align: right;
    font-weight: bold;
    padding: 0 4px 3px 0;
}

aside #photo table td:last-child {
    text-align: left;
    padding:  0 12px 3px 4px;
}

aside #photo table tr:first-child td {
    padding-top: 6px;
}

aside #photo div > p {
    margin: 4px 5px 6px 6px;
}


/***************************************************************************

	Pagination

*/

div.paginate {
    padding: 5px 3px 3px;
    text-align: center;
    font-size: 90%;
}

div.paginate span a.prev,
div.paginate span a.next {
    background-color: #39f;
    display: block;
    height: 16px;
    width: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

div.paginate span a.prev {
    float: left;
    background-image: url(/css/img/ui-icons.png);
    background-position: -144px -192px;
}

div.paginate span a.next {
    float: right;
    background-image: url(/css/img/ui-icons.png);
    background-position: -112px -192px;
}

div.paginate span.current {
    clear: none;
    color: #fefeff;
    background-color: #39f;
    padding: 0 5px;
    font-weight: bold;
}

div.paginate span a.prev:hover,
div.paginate span a.next:hover {
    background-color: #f93;
}


/***************************************************************************

	Retour en haut de page

*/

span.backtotop {
    background-color: #39f;
    background-image: url(/css/img/ui-icons.png);
    background-position: -160px -192px;
    display: block;
    height: 16px;
    width: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

span.backtotop:hover {
    background-color: #f93;
}

span.backtotop.left {
    float: left;
    margin-left: 6px;
}

span.backtotop.right {
    float: right;
    margin-right: 6px;
}


/***************************************************************************

	Grille des niveaux (colonne de droite)

*/

#levels-grid-table {
    height: 160px;
}

#levels-grid-table tr td {
    padding: 6px;
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
}

#levels-grid-table tr:nth-child(2n) td {
    background-color: rgba(153, 221, 255, .2);
}

#levels-grid-table tr td.item {
    color: #888;
    font-weight: bold;
}

#levels-grid-table tr td.item:hover {
    color: #fefeff;
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -110px;
}

#levels-grid-table tr td.title {
    width: 42px;
    padding: 0;
    background-repeat: no-repeat;
    background-image: url(/css/img/level-grid.png);
}

#levels-grid-table tr#listen td.title {
    background-position: center top;
}

#levels-grid-table tr#read td.title {
    background-position: center -32px;
}

#levels-grid-table tr#converse td.title {
    background-position: center -64px;
}

#levels-grid-table tr#speak td.title {
    background-position: center -96px;
}

#levels-grid-table tr#write td.title {
    background-position: center -128px;
}


/***************************************************************************

	Logos

*/

div#logos,
div.logo {
    width: 120px;
}

div#logos {
    margin: 20px auto 30px;
    text-align: center;
}

div.logo {
    height: 88px;
    margin-top: 6px;
}

div#eplogo {
    height: 68px;
}

div#logos div#coelogo {
    background: transparent url(../img/coepclogo.png) no-repeat 0 0;
}

div#logos div#eplogo {
    background: transparent url(../img/coepclogo.png) no-repeat 0 -98px;
}

div#logos div#cercleslogo {
    background: transparent url(../img/coepclogo.png) no-repeat 0 -176px;
}


/***************************************************************************

	Bloc du COE

*/

#coe-text > div {
    padding: .5em;
}

#coe-text > div > span {
    right: 0;
    margin: 0 0 -.4em .6em;
}

#coe-text > div > img {
    display: none;
    background: url(/img/coe_img_02.jpg);
}

#coe-text > div > p {
    padding: 0 .2em;
}


/***************************************************************************

	jQuery Dialog

*/

div.dialog-content {
    display: none;
    background-image: none;
}


/***************************************************************************

	Fancybox ++

*/

/* Coins arrondis */

#fancybox-outer {
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    border-radius: .4em;
}

body.fancy > h1 {
    color: #39f;
    margin: 11px 0 7px;
}

body.fancy > h1:first-child {
    margin-top: 1px;
}

body.fancy > p {
    text-indent: .6em;
    margin: 5px 0 3px;
}

/* Wrapper si pas formulaire */
body.fancy > div {
    width: 90%;
    margin-left: 5%;
}

/* Hauteur adaptée au contenu (inline) */
div.fancy {
    height: 98%;
}

div.fancy #message {
    margin-top: 12px;
}


/***************************************************************************

	Grille des niveaux (Fancybox)

*/

#levels_grid {
    width: 770px;
    text-align: center;
}

#levels_grid p {
    margin-top: 2px;
    font-size: .8em;
}

#levels_grid p.copyright {
    font-size: .8em;
    margin-bottom: 6px;
}

#levels_grid > table {
    padding-top: 0;
}

#levels_grid > table th {
    font-size: 1.2em;
    font-weight: bold;
    color: #888;
}

#levels_grid > table thead th {
    padding-bottom: 5px;
}

#levels_grid > table tfoot th {
    padding-top: 5px;
}

#levels_grid > table td {
    padding: 0 5px 3px;
    font-size: .8em;
    line-height: 1em;
    vertical-align: text-top;
    text-align: left;
}

#levels_grid > table td.blue {
    background-color: rgba(153, 221, 255, .2);
}

#levels_grid > table td:first-child {
    padding-left: 0;
    font-size: 1em;
    font-weight: bold;
    color: #888;
    text-align: center;
}

#levels_grid > table td:last-child {
    padding-right: 0;
}

#levels_grid > table tr td span {
    display: block;
    height: 32px;
    width: 32px;
    margin: 8px auto 0;
    background-repeat: no-repeat;
    background-image: url(/css/img/level-grid.png);
}

#levels_grid > table tr td span#listen {
    background-position: center top;
}

#levels_grid > table tr td span#read {
    background-position: center -32px;
}

#levels_grid > table tr td span#converse {
    background-position: center -64px;
}

#levels_grid > table tr td span#speak {
    background-position: center -96px;
}

#levels_grid > table tr td span#write {
    background-position: center -128px;
}

/**************************************************************************/
