@charset "UTF-8";
/***************************************************************************

	Formulaires

*/

form {
    font: inherit;
}

fieldset {
    margin: 4px 0 10px 1px;
}

form fieldset:first-of-type {
    margin-top: 0;
}

form fieldset:last-of-type {
    margin-bottom: 0;
}

section > form:first-child {
    margin-top: 7px;
}

form fieldset legend {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 1em;
    color: #39f;
    text-indent: 2px;
    text-shadow: 1px 1px 2px #dcc;
}

form > fieldset label {
    color: #888;
    font-size: 96%;
    font-weight: bold;
    text-indent: 2px;
    padding-bottom: 1px;
    padding-right: 8px;
}

form > fieldset textarea:first-child {
    margin-top: 4px;
}

input[type=text],
input[type=password],
textarea,
label {
    display: block;
    font: inherit;
}

input[type=text],
input[type=password],
textarea,
select {
    color: #666;
}

input[type=text],
input[type=password],
input[type=submit],
textarea {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

input[type=radio] {
    display: inline;
    margin: 4px 4px 4px 2px;
}

input[type=text],
input[type=password],
textarea {
    width: 98%;
    padding-left: .3em;
    border: 1px solid #ccc;
    background: #eee url(/css/img/gradient.png) repeat-x 0 -40px;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
    background: #bbdbff url(/css/img/gradient.png) repeat-x 0 -40px;
}

textarea {
    resize: none;
}

input[type=submit] {
    padding: 3px 9px;
    width: auto;
    font: bold 12px/15px Georgia, "Times New Roman", Times, serif;
    color: #fefeff;
    border: 1px solid #ededff;
    background:  #39f url(/css/img/gradient.png) repeat-x 0 -110px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

input[type=submit]:hover,
input[type=submit]:focus {
    background: #0078ff url(/css/img/gradient.png) repeat-x 0 -110px;
}

input[type=submit]:active {
    background: #f93 url(/css/img/gradient.png) repeat-x 0 -110px;
}

input[type=submit]:disabled {
    background: #39f url(/css/img/gradient.png) repeat-x 0 -40px;
}

input[readonly]:focus,
textarea[readonly]:focus {
    background: #f93 url(/css/img/gradient.png) repeat-x 0 -40px;
}


/***************************************************************************

	Formulaire de choix des langues (en-tête)

*/

#wrapper header form#lang {
    position: absolute;
    top: 23px;
    right: 10px;
    height: 15px;
    padding-left: 21px;
    background-color: transparent;
    background-image: none;
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 9px; /* Safari */
}

#wrapper header form select {
    position: relative;
    top: 0;
    min-width: 8em; /* Opera */
    font: normal 9px Verdana, Arial, Geneva, Helvetica, sans-serif;
}


/***************************************************************************

	Formulaires dans une fancybox

*/

.fancy form {
    width: 90%;
    margin-left: 5%;
}

.fancy form fieldset {
    padding: 0;
    margin-top: 5px;
}

.fancy form fieldset.half {
    width: 56%;
    float: left;
}

.fancy form h2 {
    margin-bottom: 3px;
}

.fancy form h3 {
    color: #999;
    margin-bottom: 0;
}

.fancy #edit-form #message {
    margin-top: 0;
}

.fancy form fieldset dt {
    width: 100px;
}

.fancy form fieldset dd {
    margin-left: 107px;
}

.fancy form fieldset p {
    margin-right: 1px !important;
}

.fancy form fieldset input[type=text],
.fancy form fieldset select,
.fancy form fieldset textarea {
    width: 398px;
}

.fancy form fieldset.half input[type=text],
.fancy form fieldset.half select,
.fancy form fieldset.half textarea {
    width: 220px;
}

.fancy form#edit-form fieldset textarea {
    line-height: 1.3em;
    height: 5.2em;
}

.fancy form fieldset label {
    display: inline;
}

.fancy #student-form fieldset label {
    display: block;
}

.fancy form fieldset label,
.fancy form fieldset input[type=checkbox] {
    vertical-align: middle;
}

.fancy form fieldset input[type=checkbox] {
    margin: 0 6px 2px 0;
}

.fancy form div#user-photo {
    float: right;
    border: 1px solid #dededd;
    margin-top: 26px;
    width: 160px;
    height: 136px;
    background-image: url(/img/user.png);
    background-position: center;
}

/* Formulaire de recherche */

.fancy form #competency {
    margin-top: -6px;
    display: none;
}

.fancy form #competency div.checkbox {
    display: inline;
    padding-left: 12px;
}

.fancy form #competency div.checkbox input[type=checkbox] {
    margin-right: 4px;
}

.fancy form #competency div.input.select {
    width: 46px;
    float: left;
}

.fancy form #competency .pictoPortfolioListening,
.fancy form #competency .pictoPortfolioReading,
.fancy form #competency .pictoPortfolioSpeakInt,
.fancy form #competency .pictoPortfolioSpeakProd,
.fancy form #competency .pictoPortfolioWriting {
    float: left;
    margin: 6px 4px 0 13px;
}

.fancy form #competency .pictoPortfolioListening{
    margin-left: 11px;
}

/***************************************************************************

	Balisage spécifique

*/

div.required label:after {
    color: #0078ff;
    content: ' *';
    display: inline;
}

fieldset div.input {
    margin-top: .4em;
}

fieldset div.input:first-child {
    margin-top: 0;
}

form fieldset dl:first-child {
    margin-top: .2em;
}

section form fieldset dt {
    width: 160px;
}

section form fieldset dd {
    margin-left: 167px;
}

aside div form fieldset dt {
    width: 130px;
}

aside div form fieldset dd {
    margin-left: 137px;
}

form p,
form ul {
    color: #777;
}

form p {
    font-size: 95%;
}

form p,
form ul,
form .instruction {
    margin: 4px -1px 6px 0;
    padding: 1px 5px 2px 6px;
    border: 1px solid #dededd;
    -webkit-border-radius: .6em;
    -moz-border-radius: .6em;
    border-radius: .6em;
}

form p,
form ul,
form .instruction {
    background-color: #fefeff;
}

form .instruction p {
    margin: .2em 0;
    padding: 0;
    background-color: transparent;
    border: 0 none;
}

form ul {
    padding-left: .4em;
    list-style-position: inside;
    list-style-type: circle;
}

form table ul {
    list-style: none;
    border: 0 none;
    background-color: transparent;
}

form ul li {
    padding-bottom: .1em;
}

form p.info,
form p.alert {
    font-size: .9em;
    line-height: 1.2em;
    background-color: rgba(254, 254, 255, .8);
}

form.white p.info {
    background-color: rgba(153, 221, 255, .1);
}

form > fieldset > p {
    margin: 4px 0 0 -1px;
}

form > fieldset > p:first-child {
    margin-top: 0;
}

article form p.info:first-child,
article form p.alert:first-child {
    margin-top: .3em;
    margin-bottom: .4em;
}

form span.tip-info,
form span.tip-alert {
    margin-top: 0;
}

form div.submit {
    display: block;
    height: 30px;
    padding: 10px 0 1px;
}

form div.submit div.loading {
    float: right;
    margin: 5px 5px 0 0;
}

form div.submit span.backtotop {
    margin-top: 4px;
}

form div.submit span.backtotop.right {
    margin-left: 6px;
    margin-right: -3px;
}

form div.submit input[type=submit] {
    float: right;
}

form div.date > select {
    width: auto;
}

form div.select > select {
    width: 100%;
}

table form,
table form fieldset {
    margin: 0;
    padding: 0;
}

table form {
    background-color: transparent;
}

/* Suppression d'une langue / du portfolio */

#language-delete-form dl,
#portfolio-delete-form dl {
    margin-top: 8px;
}

/* Formulaires pleine largeur */

section form.full fieldset > div.input.text,
section form.full fieldset > div.input.select,
section form.full fieldset > div.input.textarea {
    width: 656px;
}

section form.full p {
    width: 637px;
}

/* Tableaux dans les formulaires */

#content form.table {
    padding: 0;
}

section form > table tbody tr,
section form > table tbody tr.even {
    background-color: transparent;
}

section form > table tbody tr.odd {
    background-color: rgba(153, 221, 255, .2);
}

form.table ul,
form.table ul li {
    padding: 0;
}

form.table div.submit {
    padding-right: 6px;
}

/* Passeport */

#mother-form div.ibutton-container {
    margin: 1px auto;
}

#skills-form label {
    clear: both;
}

#skills-form label.part-comp-label {
    color: #999;
    font-size: 80%;
    font-style: italic;
    padding-top: -9px;
    margin-top: -9px;
}

#skills-form textarea {
    clear: both;
    margin-left: -1px;
    margin-top: -2px;
    /*margin-top: 22px;*/
    font-size: .9em;
    line-height: 1.1em;
    color: #777;
    height: 3.4em;
    width: 99%;
}

#skills-form p.info:last-of-type {
    margin-top: 12px;
}

#skills-form div.slider {
    float: left;
    width: 217px;
    margin: .2em 4px 0;
}

/* Biographie */

#abroad-edit-form div.input.date,
#abroad-edit-form div.input.text,
#abroad-edit-form div.input.select {
    float: left;
}

#abroad-edit-form div.input.date,
#abroad-edit-form div.input.text {
    margin-right: 1.3em;
}

#abroad-edit-form div.input.text {
    width: 16em;
}

#abroad-edit-form div.input.select {
    width: 14em;
}

#abroad-edit-form div.input.textarea {
    clear: both;
    padding-top: 10px;
    width: 101%;
}

#strategy-form thead th {
    min-width: 5em;
}

#strategy-form tbody td:first-child {
    text-align: justify;
}

form.table table.howtolearn-table tbody td:first-child {
    text-align: left;
}

form.table table.howtolearn-table thead th:nth-child(2),
form.table table.howtolearn-table thead th:nth-child(3),
form.table table.howtolearn-table thead th:nth-child(4) {
    font-weight: normal;
    width: 3.5em;
    max-width: 5.5em;
}

form.table table.howtolearn-table tbody td:nth-child(5) {
    padding-left: 16px;
}

form.table table.howtolearn-table tbody td:last-child {
    width: 9em;
}

/* Dossier */

#show-edit-form div.input.text,
#show-edit-form div.input.select,
#certificate-edit-form div.input.date,
#certificate-edit-form div.input.select {
    float: left;
}

#show-edit-form div.input.text {
    width: 29em;
    margin-right: 1.6em;
}

#show-edit-form div.input.select {
    width: 20em;
}

#show-edit-form div.input.textarea {
    clear: both;
    padding-top: 10px;
}

#cert-info div.input.date {
    margin-right: 1.3em;
    padding-bottom: 10px;
}

#cert-info div.input.select {
    width: 406px;
}

#cert-info div.input.text {
    clear: both;
}

#cert-comp div.input.select {
    width: 96px;
}

#cert-comp .pictoPortfolioListening,
#cert-comp .pictoPortfolioReading,
#cert-comp .pictoPortfolioSpeakInt,
#cert-comp .pictoPortfolioSpeakProd,
#cert-comp .pictoPortfolioWriting {
    margin: 6px 4px 0 17px;
}

#cert-comp .pictoPortfolioListening{
    margin-left: 0;
}


/* Auto-évaluation */

#assessment-intro ul li label {
    display: inline;
    padding-left: 0;
}

#assessment-intro.instruction ul {
    list-style: none;
}

#assessment-form table thead tr th {
    vertical-align: middle;
}

#assessment-form table thead tr th,
#assessment-form table tbody tr td {
    padding-left: 6px;
    padding-right: 0;
}

#assessment-form table thead tr th:first-child {
    font-size: 260%;
    color: #b8e4ff;
    /*color: #a7deff;*/
    text-align: left;
    padding-top: 13px;
    padding-left: 26px;
}

#assessment-form table thead th:nth-child(2) {
    font-size: .9em;
    line-height: 1em;
    vertical-align: bottom;
    padding-bottom: 12px;
}

#assessment-form table thead tr th textarea {
    height: 2.1em;
    width: 110px;
    font-size: 80%;
    line-height: 1em;
    font-weight: normal;
    font-style: normal;
}

#assessment-form table tbody tr td:first-child {
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
}

#assessment-form table tbody tr td div.ibutton-container {
    margin: 20px auto 0;
}

#assessment-form table tbody tr td input[type=text] {
    width: 110px;
}

#item-edit-form textarea {
    height: 3.5em;
}


/* Datepicker */

img.ui-datepicker-trigger {
    vertical-align: middle;
    margin: -1px -3px 0 1px;
    height: 16px;
    width: 16px;
    display: inline-block;
    background: transparent url(/css/img/sixteen.png) no-repeat 0 0;
    cursor: pointer;
}

/* Groupes */

aside div#group-change {
    display: none;
}

/* Identification */

#UserLoginForm {
    background-color: rgba(51, 153, 255, .2);
}

#forgotten {
    padding-top: 5px;
    text-align: right;
    font-size: .9em;
}

#login div.submit {
    padding-top: 3px;
}

/* Création */

#create-form legend {
    padding-bottom: 4px;
}

/**************************************************************************/
