
                        <div id="skills-update">
                            <?php
                            if ($user['Portfolio']['assess_update'] != '0000-00-00')
                                echo '<p><span class="bolder infotext">' . __d('portfolio', "Last update", true) . __(":", true) . '</span> <em>' . $this->Date->Convert($user['Portfolio']['assess_update']) . '</em></p>';
                            ?>

                        </div>