
        <h3><?php __("Thanks for contacting us."); ?></h3>
        <p><em><?php __("Here is a copy of your message:"); ?></em></p>
        <hr />
        <p><?php
        $content = explode("\n", $data['Contact']['message']);
        foreach ($content as $line):
            echo $line . '<br />';
        endforeach; ?>

        </p>
