
        <div>
            <h2><?php __("email sent") ?></h2>
            <p><?php __("An email containing your identification information was sent.") ?></p>
        </div><?php

/**
 * Ajouts au buffer Js
 *
 */

$this->Js->Buffer("
    // Redimensionnement
    parent.$('#fancybox-inner').height(90);
    parent.$('#fancybox-wrap').height(110);
    parent.$('#fancybox-content').height(110);
    parent.$.fancybox.center();
");

?>